In [1]:
import pandas as pd
import numpy as np
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.types import *
from datetime import datetime

spark = SparkSession.builder. \
    config("spark.driver.memory", "2g"). \
    config("spark.executor.memory", "8g"). \
    config("spark.executor.cores", "4"). \
    config("spark.executor.instances", "1").appName("test").getOrCreate()

Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/07/21 15:31:18 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/07/21 15:31:19 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
# reading the listings data
ld = spark.read.csv("/Users/prapul/Documents/Exported Tables/listings.csv", header = True, inferSchema = True, escape = "\"")

In [2]:

from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
%matplotlib inline

# general
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Geographical analysis
import geopandas as gpf #libspatialindex nees to be installed first
import json # library to handle JSON files
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe
# import shapefile as shp
import datetime
from statsmodels.tsa.seasonal import seasonal_decompose
import requests
import descartes

# accessibility analysis
import time
from pandana.loaders import osm
from pandana.loaders import pandash5

# modelling
from sklearn.preprocessing import StandardScaler, MinMaxScaler 
from sklearn.model_selection import train_test_split, cross_val_score 
from sklearn.linear_model import LinearRegression
from sklearn import linear_model
from sklearn import metrics
import xgboost as xgb
from xgboost import plot_importance
from sklearn.metrics import explained_variance_score, mean_squared_error, r2_score

#Hide warnings
import warnings
warnings.filterwarnings('ignore')

# Set plot preference
plt.style.use(style='ggplot')
plt.rcParams['figure.figsize'] = (10, 6)

print('Libraries imported.')

Libraries imported.

In [1]:
#

In [6]:
# usin the funtion to extract the records from the history log column which contains the record at multiple
# timstamps using only requried columns this function is not being used here as all the lod data contains the
# single timstamp value as the main df
required_keys = ["id", "beds", "bedrooms", "latitude", "amenities", "bathrooms", "county_id", "longitude", "room_type", "avg_rating", "created_at", "min_nights", "space_type", "updated_at", "reviews_count", "zipcode_id",
                "adr_next_15", "adr_next_30", "occ_next_15", "occ_next_30"]
def extract_zip_log_date(json1_data):
    counties_temp_dict = {}
    counties_list = []
    for history_log in json1_data["h"]:
        record = history_log["c"]
        keys_in_record = record.keys()
    #     finding the missing keys so that the data can take the last know value
        missing_keys = list(set(required_keys) - set(keys_in_record))
        [record.update({key: last_record[key]})for key in missing_keys]
        last_record = {}
        for key in required_keys:
        last_record.update({key: record[key]})
        last_record.update({"code": record["code"]})
        last_record.update({"city": record["city"]})
        last_record.update({"updated_at": record["updated_at"]})
        last_record.update({"airbnb_average_occ":  record["airbnb_average_occ"]})
        last_record.update({"airbnb_listing_count": record["airbnb_listing_count"]})
        last_record.update({"airbnb_last_updated_at": record["airbnb_last_updated_at"]})
        last_record.update({"airbnb_average_adr_cents": record["airbnb_average_adr_cents"]})

        counties_list.append(last_record)
    return counties_list

In [10]:
cols_to_drop = ["log_data", "contextual_images", "calendar_updated_at", "marketing_name", "image", "primary_host_id", "created_at", "coordinates", "adr_next_15", "occ_next_15"]

In [11]:
ld = ld.drop(*cols_to_drop)

In [13]:
ld_pandas = ld.toPandas()

In [14]:
ld.show()

+-----------+----------+---------+---------+--------+----+-----------+------------+---------------+-------------+---------------+--------------------+-------------------+-----------+-----------+---------+----------+------+--------------------+--------------+----------+
|         id|avg_rating|base_rate|bathrooms|bedrooms|beds|   latitude|   longitude|person_capacity|reviews_count|      room_type|          space_type|         updated_at|occ_next_30|adr_next_30|county_id|zipcode_id|active|           amenities|last_review_at|min_nights|
+-----------+----------+---------+---------+--------+----+-----------+------------+---------------+-------------+---------------+--------------------+-------------------+-----------+-----------+---------+----------+------+--------------------+--------------+----------+
|2.9216722E7|      3.76|     null|      1.5|       3|   7|   47.39198|  -121.40122|              6|           17|Entire home/apt|        Entire house| 2021-09-24 3:54:48|        100|        271|     1517|     41416| false|{Kitchen,Parking,...|          null|      null|
|5.0194752E7|      null|      140|      1.0|       1|null|47.61563315|-122.3187016|              3|            0|Entire home/apt|Entire serviced a...|2021-07-20 19:59:30|          0|         60|     1501|     41450| false|{Kitchen,Pets,Was...|          null|      null|
|4.9056676E7|      null|      147|      1.0|       1|   1|    47.6125|  -122.33634|              2|            0|Entire home/apt|  Entire rental unit| 2021-11-12 1:37:31|        100|        150|     1501|     41430| false|{Washer,Kitchen,Gym}|          null|      null|
|4.3926985E7|      null|     null|      1.0|       0|   1|   47.61831|  -122.30282|              2|            0|Entire home/apt|Entire serviced a...| 2022-03-18 0:34:29|          0|         49|     1501|     41450| false|{Kitchen,Pets,Gym...|          null|      null|
|3.8194266E7|      4.81|      264|      1.0|       2|   3|   48.49732|  -122.87132|              4|           27|Entire home/apt|      Entire cottage| 2021-10-01 2:13:27|        100|        216|     2530|     41539| false|{Kitchen,Parking,...|          null|      null|
|4.3468286E7|      null|      400|      2.0|       2|   2|   47.61745|  -122.19491|              4|            2|Entire home/apt|  Entire condominium| 2021-06-18 3:41:06|          7|        400|     1501|     41362| false|{Kitchen,Parking,...|          null|      null|
|5.2496068E7|      null|     null|      1.0|       2|null|   45.64211|  -122.54188|              5|            0|Entire home/apt|Entire serviced a...| 2021-10-29 2:28:17|          0|         59|      521|     41834| false|{Kitchen,Pets,Gym...|          null|      null|
|3.1595338E7|       5.0|       70|      2.0|       2|   2|   46.58954|  -120.62735|              3|            5|Entire home/apt|    Entire townhouse| 2022-02-11 2:54:45|        100|         70|     3116|     41891| false|{Kitchen,Parking,...|          null|      null|
|1.6633675E7|      4.96|       75|      1.0|       1|   2|   47.35323|  -122.13732|              3|           80|   Private room|        Private room| 2021-07-30 2:41:17|         80|         75|     1501|     41396| false|{Kitchen,Parking,...|          null|      null|
|2.3935832E7|      4.61|      179|      1.0|       2|   2|   47.60698|  -122.34077|              3|           18|Entire home/apt|  Entire rental unit| 2021-11-12 3:39:39|        100|        219|     1501|     41430| false|{Washer,Dryer,Kit...|          null|      null|
|4.5053147E7|       4.0|      140|      1.0|       1|   1|   46.60574|  -120.43026|              2|            3|   Private room|        Private room| 2021-08-20 3:08:55|          7|        122|     3116|     41886| false|{Washer,Dryer,Par...|          null|      null|
|  5.12339E7|      null|       64|      1.5|       1|   1|    47.4865|  -122.18343|              2|            1|   Private room|        Private room| 2021-10-01 2:13:44|          0|         63|     1501|     41407| false|{Kitchen,Parking,...|          null|      null|
|2.6198834E7|      null|      100|      1.0|       1|   1|   47.59074|  -121.97063|              2|            1|   Private room|        Private room| 2021-06-18 2:28:32|        100|        100|     1501|     41422| false|{Washer,Kitchen,P...|          null|      null|
| 4.934721E7|       5.0|     null|      1.5|       1|   1|   47.69536|  -122.02453|              2|            3|   Private room|        Private room| 2021-10-01 2:13:57|        100|         59|     1501|     41404| false|{Kitchen,Parking,...|          null|      null|
|3.7178319E7|       5.0|       70|      1.5|       1|   1|   47.32768|  -122.16987|              2|            8|   Private room|        Private room| 2021-06-18 2:28:33|         37|         70|     1501|     41428| false|{Washer,Dryer,Kit...|          null|      null|
|2.1066481E7|      4.94|     null|      1.0|       2|   3|    48.0523|  -122.55525|              2|           47|Entire home/apt|     Entire bungalow| 2021-07-04 7:17:05|        100|        145|     1355|     41532| false|{Pool,Kitchen,Par...|          null|      null|
| 6.44202E17|      null|     null|      1.0|       2|   2|   47.77538|  -122.21579|              4|            0|   Private room|        Private room|2022-06-09 12:02:29|       null|       null|     1501|     41369|  true|{Washer,Kitchen,P...|          null|      null|
|4.9884328E7|      null|      208|      1.5|       2|   3|   47.67358|  -122.20007|              6|            0|Entire home/apt|    Entire townhouse| 2021-06-18 3:41:13|       null|       null|     1501|     41387| false|{Pool,Kitchen,Par...|          null|      null|
|5.1362277E7|      null|       96|      1.0|       1|   2|   48.15816|  -122.32266|              4|            0|Entire home/apt|  Entire guest suite| 2021-08-27 3:53:22|       null|       null|     2652|     41565| false|{Washer,Dryer,Kit...|          null|      null|
| 4.498455E7|      null|     null|      1.0|       0|   2|   47.51706|  -122.37669|              3|            0|Entire home/apt|           Camper/RV| 2021-07-04 4:16:40|          0|        100|     1501|     41453| false|   {Kitchen,Parking}|          null|      null|
+-----------+----------+---------+---------+--------+----+-----------+------------+---------------+-------------+---------------+--------------------+-------------------+-----------+-----------+---------+----------+------+--------------------+--------------+----------+
only showing top 20 rows

TypeError: 'NoneType' object is not callable

In [4]:
# Calling yelp API to get the required features realted to neighbourhood
client_id = "DvXlhY2IDtiksQTbLUjD4A"
api_key = "--awwTmOgUqrJaISSLoVdwwxwRKa3-fbRm_v9FmpaM95vaOARnbWWCQOhYbf0IVgt3YB8T6NMDGheiSSXJWH2ECYm886mJKcvHZep8-xhRII5vaGT1FnFsqNVaLZYnYx"
from yelpapi import YelpAPI
yelp_api = YelpAPI(api_key)

In [9]:
# function for getting the API response and parsing them as per the usage in the next levels
# here considered the distnace to look for as 2 miles and having a rating of >3 and minimum review counts and is currently in business
def get_all_stats(long):
    # localflavor
    # transport
    # nightlife
    # restaurants
    # shopping
    # food
    # art
    # active
    time.sleep(1)
    
    response_food = len([j["alias"] for i in yelp_api.search_query(categories='food', location=long, radius =3218)["businesses"] for j in i["categories"] if ((i["rating"]>3 and i["review_count"] > 1) and (i["is_closed"] == False))])
    response_transport =  len([j["alias"] for i in yelp_api.search_query(categories='transport', location=long, radius =3218)["businesses"] for j in i["categories"] if ((i["rating"]>3 and i["review_count"] > 1) and (i["is_closed"] == False))])
    response_nightlife =  len([j["alias"] for i in yelp_api.search_query(categories='nightlife', longitude=long, latitude=lat, radius =3218)["businesses"] for j in i["categories"] if ((i["rating"]>3 and i["review_count"] > 1) and (i["is_closed"] == False))])
    response_restaurants =  len([j["alias"] for i in yelp_api.search_query(categories='restaurants', longitude=long, latitude=lat, radius =3218)["businesses"] for j in i["categories"] if ((i["rating"]>3 and i["review_count"] > 1) and (i["is_closed"] == False))])
    response_shopping =  len([j["alias"] for i in yelp_api.search_query(categories='shopping', longitude=long, latitude=lat, radius =3218)["businesses"] for j in i["categories"] if ((i["rating"]>3 and i["review_count"] > 1) and (i["is_closed"] == False))])
    response_art =  len([j["alias"] for i in yelp_api.search_query(categories='art', longitude=long, latitude=lat, radius =3218)["businesses"] for j in i["categories"] if ((i["rating"]>3 and i["review_count"] > 1) and (i["is_closed"] == False))])
    response_active =  len([j["alias"] for i in yelp_api.search_query(categories='active', longitude=long, latitude=lat, radius =3218)["businesses"] for j in i["categories"] if ((i["rating"]>3 and i["review_count"] > 1) and (i["is_closed"] == False))])
    
    return [response_food, response_transport]

get_all_stats_udf = F.udf(lambda lat, long : get_all_stats(lat, long))

In [26]:
# this is not working as spark makes bulk api which is not allowed
ld_new = ld.withColumn("all_stats", get_all_stats_udf(F.col("latitude"), F.col("longitude")))

In [27]:
ld_new.toPandas().to_csv("updated_Datat.csv")

22/07/21 13:55:46 ERROR Executor: Exception in task 2.0 in stage 13.0 (TID 68)2]
org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/var/folders/42/bb36ymy50459qcxy7dcczcf40000gn/T/ipykernel_9166/4277098576.py", line 22, in <lambda>
  File "/var/folders/42/bb36ymy50459qcxy7dcczcf40000gn/T/ipykernel_9166/4277098576.py", line 12, in get_all_stats
  File "/Users/prapul/opt/anaconda3/lib/python3.8/site-packages/yelpapi/yelpapi.py", line 234, in search_query
    return self._query(SEARCH_API_URL, **kwargs)
  File "/Users/prapul/opt/anaconda3/lib/python3.8/site-packages/yelpapi/yelpapi.py", line 282, in _query
    raise YelpAPI.YelpAPIError('{}: {}'.format(response_json['error']['code'],
yelpapi.yelpapi.YelpAPI.YelpAPIError: TOO_MANY_REQUESTS_PER_SECOND: You have exceeded the queries-per-second limit for this endpoint. Try reducing the rate at which you make queries.

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:555)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$2.read(PythonUDFRunner.scala:86)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$2.read(PythonUDFRunner.scala:68)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:508)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:759)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:349)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:898)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:898)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:506)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1462)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:509)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)
22/07/21 13:55:46 ERROR Executor: Exception in task 0.0 in stage 13.0 (TID 66)
org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/var/folders/42/bb36ymy50459qcxy7dcczcf40000gn/T/ipykernel_9166/4277098576.py", line 22, in <lambda>
  File "/var/folders/42/bb36ymy50459qcxy7dcczcf40000gn/T/ipykernel_9166/4277098576.py", line 12, in get_all_stats
  File "/Users/prapul/opt/anaconda3/lib/python3.8/site-packages/yelpapi/yelpapi.py", line 234, in search_query
    return self._query(SEARCH_API_URL, **kwargs)
  File "/Users/prapul/opt/anaconda3/lib/python3.8/site-packages/yelpapi/yelpapi.py", line 282, in _query
    raise YelpAPI.YelpAPIError('{}: {}'.format(response_json['error']['code'],
yelpapi.yelpapi.YelpAPI.YelpAPIError: TOO_MANY_REQUESTS_PER_SECOND: You have exceeded the queries-per-second limit for this endpoint. Try reducing the rate at which you make queries.

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:555)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$2.read(PythonUDFRunner.scala:86)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$2.read(PythonUDFRunner.scala:68)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:508)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:759)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:349)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:898)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:898)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:506)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1462)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:509)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)
22/07/21 13:55:46 WARN TaskSetManager: Lost task 2.0 in stage 13.0 (TID 68) (ip-192-168-0-16.ec2.internal executor driver): org.apac

PythonException:
  An exception was thrown from the Python worker. Please see the stack trace below.
Traceback (most recent call last):
  File "/var/folders/42/bb36ymy50459qcxy7dcczcf40000gn/T/ipykernel_9166/4277098576.py", line 22, in <lambda>
  File "/var/folders/42/bb36ymy50459qcxy7dcczcf40000gn/T/ipykernel_9166/4277098576.py", line 12, in get_all_stats
  File "/Users/prapul/opt/anaconda3/lib/python3.8/site-packages/yelpapi/yelpapi.py", line 234, in search_query
    return self._query(SEARCH_API_URL, **kwargs)
  File "/Users/prapul/opt/anaconda3/lib/python3.8/site-packages/yelpapi/yelpapi.py", line 282, in _query
    raise YelpAPI.YelpAPIError('{}: {}'.format(response_json['error']['code'],
yelpapi.yelpapi.YelpAPI.YelpAPIError: TOO_MANY_REQUESTS_PER_SECOND: You have exceeded the queries-per-second limit for this endpoint. Try reducing the rate at which you make queries.

he.spark.api.python.PythonException: Traceback (most recent call last):
  File "/var/folders/42/bb36ymy50459qcxy7dcczcf40000gn/T/ipykernel_9166/4277098576.py", line 22, in <lambda>
  File "/var/folders/42/bb36ymy50459qcxy7dcczcf40000gn/T/ipykernel_9166/4277098576.py", line 12, in get_all_stats
  File "/Users/prapul/opt/anaconda3/lib/python3.8/site-packages/yelpapi/yelpapi.py", line 234, in search_query
    return self._query(SEARCH_API_URL, **kwargs)
  File "/Users/prapul/opt/anaconda3/lib/python3.8/site-packages/yelpapi/yelpapi.py", line 282, in _query
    raise YelpAPI.YelpAPIError('{}: {}'.format(response_json['error']['code'],
yelpapi.yelpapi.YelpAPI.YelpAPIError: TOO_MANY_REQUESTS_PER_SECOND: You have exceeded the queries-per-second limit for this endpoint. Try reducing the rate at which you make queries.

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:555)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$2.read(PythonUDFRunner.scala:86)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$2.read(PythonUDFRunner.scala:68)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:508)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:759)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:349)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:898)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:898)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:506)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1462)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:509)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)

22/07/21 13:55:46 ERROR TaskSetManager: Task 2 in stage 13.0 failed 1 times; aborting job
22/07/21 13:55:46 WARN TaskSetManager: Lost task 9.0 in stage 13.0 (TID 75) (ip-192-168-0-16.ec2.internal executor driver): TaskKilled (Stage cancelled)
22/07/21 13:55:46 WARN TaskSetManager: Lost task 10.0 in stage 13.0 (TID 76) (ip-192-168-0-16.ec2.internal executor driver): TaskKilled (Stage cancelled)
22/07/21 13:55:46 WARN TaskSetManager: Lost task 11.0 in stage 13.0 (TID 77) (ip-192-168-0-16.ec2.internal executor driver): TaskKilled (Stage cancelled)
22/07/21 13:55:46 WARN TaskSetManager: Lost task 3.0 in stage 13.0 (TID 69) (ip-192-168-0-16.ec2.internal executor driver): TaskKilled (Stage cancelled)
22/07/21 13:55:46 WARN TaskSetManager: Lost task 7.0 in stage 13.0 (TID 73) (ip-192-168-0-16.ec2.internal executor driver): TaskKilled (Stage cancelled)
22/07/21 13:55:46 WARN TaskSetManager: Lost task 1.0 in stage 13.0 (TID 67) (ip-192-168-0-16.ec2.internal executor driver): TaskKilled (Stage cancelled)
22/07/21 13:55:46 WARN TaskSetManager: Lost task 4.0 in stage 13.0 (TID 70) (ip-192-168-0-16.ec2.internal executor driver): TaskKilled (Stage cancelled)
22/07/21 13:55:46 WARN TaskSetManager: Lost task 8.0 in stage 13.0 (TID 74) (ip-192-168-0-16.ec2.internal executor driver): TaskKilled (Stage cancelled)
22/07/21 13:55:46 WARN TaskSetManager: Lost task 5.0 in stage 13.0 (TID 71) (ip-192-168-0-16.ec2.internal executor driver): TaskKilled (Stage cancelled)
22/07/21 13:55:50 WARN PythonUDFRunner: Incomplete task 6.0 in stage 13 (TID 72) interrupted: Attempting to kill Python Worker
22/07/21 13:55:50 WARN TaskSetManager: Lost task 6.0 in stage 13.0 (TID 72) (ip-192-168-0-16.ec2.internal executor driver): TaskKilled (Stage cancelled)

In [24]:
import time

In [28]:
lat_long_details = ld.select("latitude", "longitude").collect()

In [43]:
# temp = []
for i in lat_long_details[249:]:
    print(i[0], i[1])
    temp.append([i[0], i[1], get_all_stats(i[0], i[1])])

47.81364 -122.84444
47.61532 -122.34
46.75531 -122.0212
46.15534 -122.92069
48.89622 -121.92131
47.56807 -122.16275
47.95159 -121.96968
47.66036875 -122.3194861
48.5199 -122.61481
47.61034 -122.32885
47.579498 -122.300575
47.65952 -122.31741
47.20675 -122.47388
47.14477 -122.55879
47.39387 -121.39469
45.72625 -121.48164
47.33345 -122.29632
47.61074 -122.32987
45.786987 -122.709099
47.60809 -122.34096
47.68701 -122.32043
47.76355 -122.20918
47.61591884 -122.3245391
47.4667 -123.84729
47.60159 -122.11229
48.41268 -122.62211
47.32465 -122.35809
48.68796 -122.95789
47.69287 -122.3416
47.73302 -122.17325
47.66617 -122.32568
47.09352 -122.64142
46.34791 -124.06169
48.11217 -123.44433
47.15291 -122.57256
46.87762 -124.11495
46.47792 -124.05409
48.3217 -117.72472
46.34916 -124.06011
48.98151 -122.73963
47.093 -122.64123
45.81446 -121.1498
47.71871 -122.33538
47.22277 -122.49333
47.66191 -122.34925
47.65523 -122.40023
48.10833 -123.43071
46.21591 -119.23269
45.6167 -122.50386
47.58407 -122.39762
47.38671 -122.07228
47.90984 -122.25095
47.54487 -119.47028
46.32988 -124.0582
47.43376 -122.45198
47.66952 -122.41453
47.14506 -119.23096
47.65492 -122.3424
47.02598 -122.79193
47.05394 -122.88082
45.61792 -122.54692
48.16346 -122.47271
47.66082 -122.31358
47.60875 -122.33012
47.60873 -122.32985
47.60894 -122.32977
48.04119 -122.11904
48.890862 -121.923592
47.80016 -121.53504
46.27454952 -119.3502541
48.50172 -122.6095
47.32465 -122.35809
47.50262 -122.33956
47.61613 -122.34084
48.17993 -122.64853
47.91652 -122.06128
47.4808 -122.20445
47.09396 -122.64095
45.62214 -122.47163
45.85129 -122.68462
47.61368 -122.34641
48.10612 -123.41401
47.61011 -122.32974
47.9319 -122.08511
47.89379 -117.78427
48.42174 -122.4018
46.47855 -124.04632
47.62395 -122.13513
47.4808 -122.20445
48.50336 -122.23743
47.60481 -120.66464
47.6171 -122.31614
47.61121 -122.34162
48.67375 -122.92747
45.8085 -122.73371
47.84326 -120.02355
45.62134 -122.33362
47.42555 -122.44285
47.26903 -122.4547
48.10814 -123.24801
47.71515 -122.58049
47.08828 -122.28367
47.91534 -122.06022
48.91515 -117.78545
47.67500507 -122.3156935
47.90765 -122.2509
48.88433 -121.92038
47.54899 -122.60544
47.67389 -122.11431
47.2555 -122.47697
47.7544 -120.66951
47.62392743 -122.3559057
47.06002 -122.75782
48.06258 -123.60214
47.62137 -122.06826
47.32422 -122.35709
47.81528 -122.65103
47.75225 -122.30419
46.59186 -120.53563
47.61901 -122.19299
47.61063 -122.34144
46.95257 -122.26184
47.52647 -122.37551
48.10778 -123.40021
47.67057 -117.1778
47.67624 -122.31987
48.0388 -117.60799
47.68434 -122.3572
47.09857 -124.17304
47.66951 -122.38839
47.36834 -122.32383
45.61761 -122.54633
48.73071 -122.69243
48.04271 -123.42969
48.00722 -123.17734
47.66283 -117.43059
47.54623 -122.37907
46.1839 -119.81331
48.11672 -122.75226
47.23781 -124.21628
47.3032 -120.38184
47.83959 -120.02155
47.83857 -120.02298
47.88109 -120.15814
47.58144 -122.22049
45.58595 -122.43897
47.64675 -117.43222
47.4962 -121.78765
47.84027 -120.02204
47.6869 -122.16326
47.70055 -122.35029
47.23189 -122.48145
47.5268 -122.37581
47.09204 -122.64159
46.538464 -122.934021
46.19046 -119.31455
47.67598 -122.35533
47.86776 -121.96266
48.91636 -122.7446
47.18336 -122.44179
47.65176 -122.34951
47.83905 -120.02259
47.8517 -122.28007
47.60688 -122.03778
48.68534 -122.63862
47.67742 -122.28713
47.55881 -122.38289
47.56100574 -122.2911598
48.11953 -123.42947
47.2209 -119.9908
47.61461 -122.31685
45.62515 -122.54229
45.60438 -122.39147
48.99498 -122.75131
48.08754 -122.5186
47.66973 -117.17594
47.64356 -122.30207
47.51961 -122.35393
47.61439 -122.34059
47.80197 -122.23971
45.64046 -122.54145
47.6212 -122.35767
47.67292 -117.17506
47.60947 -122.33477
45.81556 -121.15355
47.60625 -122.32848
47.6514 -122.33257
46.26807 -119.26835
47.83054 -120.77562
47.67375 -122.31702
47.63895536 -122.3295861
47.68675 -122.10167
47.61831 -122.30282
47.61434 -122.35157
47.6059 -122.3193
47.82154 -122.26639
47.93993 -122.23195
47.94226 -122.26061
47.63472 -117.49509
47.23319 -122.40128
47.26726 -122.53637
46.30066 -119.34225
47.31408 -122.32202
46.30067 -119.34404
46.30106 -119.34348
47.65183 -117.19315
47.58128 -122.21919
46.2997 -119.34367
48.1304 -123.47757
47.56063 -122.09759
47.62806 -117.24279
47.60645 -122.3399
46.66097 -123.80912
47.80251 -121.54117
48.03679 -122.40816
47.15652 -122.68478
47.6082 -122.31195
47.62753 -122.35913
47.23502 -122.40966
47.54104 -122.0185
48.11765 -122.75719
47.19888 -122.29056
47.6644 -122.35081
47.27908 -122.48578
47.66488 -122.56131
47.61962 -122.33652
47.64274 -117.4182
46.49149 -124.05055
46.86325 -122.26431
47.85171 -122.2802
47.65281967 -122.3422104
47.6212 -122.35767
47.611 -122.34123
47.02672 -122.78309
46.97001 -120.65773
47.56686 -122.40843
47.39773 -120.27817
48.36484 -120.74576
48.64716 -122.86616
47.88154 -120.15613
47.61946 -122.31911
47.5085 -122.46327
47.56212 -122.36153
48.56312 -123.04783
47.62043 -122.19811
47.60671 -122.32035
47.33267 -122.51572
47.49907 -122.33907
47.66412875 -122.3654117
47.65747 -122.31736
47.92041 -120.17242
47.60907 -122.3285
47.54158 -121.88554
47.61065 -122.33009
47.61321 -122.33652
47.82538 -122.82568
47.60716 -122.33875
47.04347 -117.66304
47.62476 -122.13447
47.61554649 -122.1877208
46.98124 -123.88702
45.83496 -122.4841
47.18761972 -122.4589491
46.03793 -118.3805
47.18428 -122.33172
47.56078 -122.2922
47.6212 -122.35767
45.72566 -121.48822
48.62341 -118.12396
47.55964 -122.29188
47.856918 -122.184792
47.66076598 -122.3206431
47.81451 -122.65128
47.66828 -122.39692
47.95665 -122.37326
47.61137 -122.33641
47.94196 -122.25997
47.61821 -122.34805
48.62575 -117.97679
47.60126381 -122.3156213
45.629 -122.58445
48.70831 -122.90267
47.65993 -117.28434
47.42047 -120.29309
47.6784 -122.3716
47.49766 -122.33959
47.23669 -121.04382
47.45729 -122.24984
47.42759 -120.31388
47.76952 -122.32544
47.61135 -122.33659
47.59369 -122.28954
47.59404 -120.65847
47.75329 -122.50971
47.7072 -121.36615
47.67718 -122.11785
47.61218 -122.34032
47.64148 -122.35914
47.55422 -122.18878
47.61033804 -122.3399393
48.71191 -122.92312
47.64272 -122.57287
47.80011 -122.27346
47.61976 -122.30253
47.34328 -122.13634
45.60253 -122.49934
47.55571 -122.22319
47.61764 -122.19125
47.66998 -122.38032
47.85305 -122.28086
48.91857 -117.79513
46.64556 -122.95583
47.93638 -124.40386
47.25414 -122.44961
45.71427 -121.46335
47.58014 -122.21867
46.88582 -124.10615
47.69124 -117.30021
46.95081 -124.15125
48.7109 -122.92313
47.58028 -122.22026
48.71153 -122.92209
48.71235 -122.92286
47.60935 -122.32982
47.83952 -122.31008
47.56417 -122.38006
47.37994 -122.03413
47.61717 -122.3019
48.10788 -123.43629
47.62485 -122.13562
47.48898 -122.16864
47.32481 -122.28107
47.64256 -122.30434
47.62592 -122.31869
47.2427 -119.84424
47.73301 -120.66612
47.61939 -122.0986
47.64572 -117.35455
48.90511 -119.24666
32.75412 -97.59608
47.65104 -117.42242
48.04282 -122.94192
47.69112 -122.31859
47.48667 -122.24231
46.86399 -124.10589
47.41254 -122.33978
47.73954 -120.66564
47.66056133 -122.3201188
47.68733 -122.38078
47.65597 -117.42218
47.81746 -122.35658
47.41211 -122.33998
45.698586 -121.284164
47.05705 -122.74426
47.59433 -122.30103
47.7343 -120.66341
47.76021 -122.25354
47.6071 -122.34159
48.11056 -123.43285
47.77577 -122.3576
45.6203162 -122.5665196
45.61996 -122.5659
47.61532 -122.34
47.2399 -122.54232
47.63553 -122.33905
47.08094 -122.74835
47.60908 -122.32855
47.62426 -122.1348
47.84927 -122.1689
47.37278 -122.51574
47.61492 -122.31481
47.60832 -122.204
48.47696 -120.1858
47.62248 -122.34279
47.26814 -122.531
47.22998 -124.21091
47.24094 -124.2186
47.61222 -122.12358
46.94562 -124.13813
47.61186 -122.34081
48.08514 -123.18671
47.66965 -117.09799
47.75131 -122.2456
47.65342 -117.19385
47.547974 -120.687851
45.69256 -121.2826
47.22664 -122.42095
47.66496 -122.02547
48.0292 -122.5403
48.64948 -122.32536
48.56293 -123.17576
48.53533 -123.01792
47.57975 -122.30132
48.50874 -123.10047
47.32326 -122.64199
46.1991 -119.82257
47.65104 -117.42242
47.71682 -122.16655
48.15591 -123.78223
48.42811 -122.62861
48.3341 -122.53954
47.48925 -122.16835
47.21302 -119.99485
47.48913 -122.16651
47.48738 -121.81088
47.58262 -122.38692
47.61878 -117.37714
45.6037 -122.49736
47.85143 -121.97377
48.02456 -122.73443

47.86076 -122.13517
48.71112 -122.92313
48.43156 -122.64888
47.54722 -122.39321
47.60998 -122.32931
47.00472 -120.59355
46.93096 -122.28136
47.61388 -122.34313
48.25117 -122.32759
46.03971 -118.37784
47.61202 -122.34092
47.06357 -122.91562
48.882755 -121.918961
48.89188 -121.92423
47.6482 -122.93888
47.76044 -122.35203
47.58954 -120.66744
45.64215 -122.67776
47.66413 -122.20427
47.62426 -122.1348
47.76573 -122.24988
47.67373 -121.97827
47.65104 -117.42242
47.61781 -122.33824
47.60754 -122.33975
47.15139 -121.02322
47.60965 -122.33613
47.60368 -122.30039
47.641464 -117.424377
48.9143 -122.7469
47.85769 -122.30466
47.58004 -122.22
48.01713 -122.54343
48.92521 -122.74325
47.90976 -117.27074
47.85225 -122.2809
47.6709 -117.1767
47.540836 -122.280312
47.67753 -122.31976
46.62207 -123.95395
46.2653 -119.15559
47.6106255 -122.3272239
47.19867 -121.96366
47.49261 -121.78768

YelpAPIError: ACCESS_LIMIT_REACHED: You've reached the access limit for this client. See instructions for requesting a higher access limit at https://www.yelp.com/developers/documentation/v3/rate_limiting

In [7]:
zipcodes = spark.read.csv("/Users/prapul/Documents/Exported Tables/zipcodes.csv",  header = True, inferSchema = True, escape = "\"")

In [35]:
def get_all_stats(lat):
    # localflavor
    # transport
    # nightlife
    # restaurants
    # shopping
    # food
    # art
    # active
    response_food = len([j["alias"] for i in yelp_api.search_query(categories='art', location=str(lat), radius =3218)["businesses"] for j in i["categories"] if ((i["rating"]>3 and i["review_count"] > 1) and (i["is_closed"] == False))])
    response_transport =  len([j["alias"] for i in yelp_api.search_query(categories='active', location=str(lat), radius =3218)["businesses"] for j in i["categories"] if ((i["rating"]>3 and i["review_count"] > 1) and (i["is_closed"] == False))])
    response_nightlife =  len([j["alias"] for i in yelp_api.search_query(categories='nightlife', location=lat, radius =3218)["businesses"] for j in i["categories"] if ((i["rating"]>3 and i["review_count"] > 1) and (i["is_closed"] == False))])
    response_restaurants =  len([j["alias"] for i in yelp_api.search_query(categories='restaurants', location=lat, radius =3218)["businesses"] for j in i["categories"] if ((i["rating"]>3 and i["review_count"] > 1) and (i["is_closed"] == False))])
    response_shopping =  len([j["alias"] for i in yelp_api.search_query(categories='shopping', location=lat, radius =3218)["businesses"] for j in i["categories"] if ((i["rating"]>3 and i["review_count"] > 1) and (i["is_closed"] == False))])
    response_art =  len([j["alias"] for i in yelp_api.search_query(categories='art', location=lat, radius =3218)["businesses"] for j in i["categories"] if ((i["rating"]>3 and i["review_count"] > 1) and (i["is_closed"] == False))])
    response_active =  len([j["alias"] for i in yelp_api.search_query(categories='active', location=lat, radius =3218)["businesses"] for j in i["categories"] if ((i["rating"]>3 and i["review_count"] > 1) and (i["is_closed"] == False))])
    
    return [response_food]

# get_all_stats_udf = F.udf(lambda lat, long : get_all_stats(lat, long))

In [36]:
# using the zipcode instead of the corodindates as currently limited to 5000 API calls a day and taking more time
temp_city_nigh_res = []
for i in city_details:
    try:
        print(i[0])
        temp_city_food_tran.append([i[0], get_all_stats(i[0])])
    except:
        print("Not foubnd", i)

99181
jbkjrgb 99181
Not foubnd Row(code=99181)
99115
jbkjrgb 99115
Not foubnd Row(code=99115)
98421
jbkjrgb 98421
Not foubnd Row(code=98421)
98015
jbkjrgb 98015
Not foubnd Row(code=98015)
98262
jbkjrgb 98262
Not foubnd Row(code=98262)
98448
jbkjrgb 98448
Not foubnd Row(code=98448)
98815
jbkjrgb 98815
Not foubnd Row(code=98815)
98670
jbkjrgb 98670
Not foubnd Row(code=98670)
98592
jbkjrgb 98592
Not foubnd Row(code=98592)
99327
jbkjrgb 99327
Not foubnd Row(code=99327)
98222
jbkjrgb 98222
Not foubnd Row(code=98222)
98827
jbkjrgb 98827
Not foubnd Row(code=98827)
98129
jbkjrgb 98129
Not foubnd Row(code=98129)
98614
jbkjrgb 98614
Not foubnd Row(code=98614)
98853
jbkjrgb 98853
Not foubnd Row(code=98853)
98148
jbkjrgb 98148
Not foubnd Row(code=98148)
99039
jbkjrgb 99039
Not foubnd Row(code=99039)
98388
jbkjrgb 98388
Not foubnd Row(code=98388)
98843
jbkjrgb 98843
Not foubnd Row(code=98843)
98040
jbkjrgb 98040
Not foubnd Row(code=98040)
98107
jbkjrgb 98107
Not foubnd Row(code=98107)
99360
jbkjrgb 99360
Not foubnd Row(code=99360)
98812
jbkjrgb 98812
Not foubnd Row(code=98812)
98395
jbkjrgb 98395
Not foubnd Row(code=98395)
99359
jbkjrgb 99359
Not foubnd Row(code=99359)
99141
jbkjrgb 99141
Not foubnd Row(code=99141)
98833
jbkjrgb 98833
Not foubnd Row(code=98833)
98626
jbkjrgb 98626
Not foubnd Row(code=98626)
98340
jbkjrgb 98340
Not foubnd Row(code=98340)
99228
jbkjrgb 99228
Not foubnd Row(code=99228)
98603
jbkjrgb 98603
Not foubnd Row(code=98603)
98310
jbkjrgb 98310
Not foubnd Row(code=98310)
98836
jbkjrgb 98836
Not foubnd Row(code=98836)
98503
jbkjrgb 98503
Not foubnd Row(code=98503)
98270
jbkjrgb 98270
Not foubnd Row(code=98270)
98424
jbkjrgb 98424
Not foubnd Row(code=98424)
98520
jbkjrgb 98520
Not foubnd Row(code=98520)
98014
jbkjrgb 98014
Not foubnd Row(code=98014)
98660
jbkjrgb 98660
Not foubnd Row(code=98660)
98311
jbkjrgb 98311
Not foubnd Row(code=98311)
99109
jbkjrgb 99109
Not foubnd Row(code=99109)
99101
jbkjrgb 99101
Not foubnd Row(code=99101)
98029
jbkjrgb 98029
Not foubnd Row(code=98029)
98290
jbkjrgb 98290
Not foubnd Row(code=98290)
98823
jbkjrgb 98823
Not foubnd Row(code=98823)
98902
jbkjrgb 98902
Not foubnd Row(code=98902)
98620
jbkjrgb 98620
Not foubnd Row(code=98620)
98632
jbkjrgb 98632
Not foubnd Row(code=98632)
98053
jbkjrgb 98053
Not foubnd Row(code=98053)
98466
jbkjrgb 98466
Not foubnd Row(code=98466)
98011
jbkjrgb 98011
Not foubnd Row(code=98011)
98271
jbkjrgb 98271
Not foubnd Row(code=98271)
98535
jbkjrgb 98535
Not foubnd Row(code=98535)
98327
jbkjrgb 98327
Not foubnd Row(code=98327)
98532
jbkjrgb 98532
Not foubnd Row(code=98532)
98685
jbkjrgb 98685
Not foubnd Row(code=98685)
98277
jbkjrgb 98277
Not foubnd Row(code=98277)
98248
jbkjrgb 98248
Not foubnd Row(code=98248)
98133
jbkjrgb 98133
Not foubnd Row(code=98133)
98844
jbkjrgb 98844
Not foubnd Row(code=98844)
98020
jbkjrgb 98020
Not foubnd Row(code=98020)
98528
jbkjrgb 98528
Not foubnd Row(code=98528)
98038
jbkjrgb 98038
Not foubnd Row(code=98038)
98640
jbkjrgb 98640
Not foubnd Row(code=98640)
98339
jbkjrgb 98339
Not foubnd Row(code=98339)
98275
jbkjrgb 98275
Not foubnd Row(code=98275)
98550
jbkjrgb 98550
Not foubnd Row(code=98550)
99216
jbkjrgb 99216
Not foubnd Row(code=99216)
98682
jbkjrgb 98682
Not foubnd Row(code=98682)
98901
jbkjrgb 98901
Not foubnd Row(code=98901)
98862
jbkjrgb 98862
Not foubnd Row(code=98862)
98058
jbkjrgb 98058
Not foubnd Row(code=98058)
99004
jbkjrgb 99004
Not foubnd Row(code=99004)
98446
jbkjrgb 98446
Not foubnd Row(code=98446)
99202
jbkjrgb 99202
Not foubnd Row(code=99202)
98346
jbkjrgb 98346
Not foubnd Row(code=98346)
98328
jbkjrgb 98328
Not foubnd Row(code=98328)
99126
jbkjrgb 99126
Not foubnd Row(code=99126)
98501
jbkjrgb 98501
Not foubnd Row(code=98501)
98513
jbkjrgb 98513
Not foubnd Row(code=98513)
98321
jbkjrgb 98321
Not foubnd Row(code=98321)
98557
jbkjrgb 98557
Not foubnd Row(code=98557)
98675
jbkjrgb 98675
Not foubnd Row(code=98675)
99352
jbkjrgb 99352
Not foubnd Row(code=99352)
98247
jbkjrgb 98247
Not foubnd Row(code=98247)
99402
jbkjrgb 99402
Not foubnd Row(code=99402)
98499
jbkjrgb 98499
Not foubnd Row(code=98499)
98903
jbkjrgb 98903
Not foubnd Row(code=98903)
98505
jbkjrgb 98505
Not foubnd Row(code=98505)
99338
jbkjrgb 99338
Not foubnd Row(code=99338)
99336
jbkjrgb 99336
Not foubnd Row(code=99336)
98225
jbkjrgb 98225
Not foubnd Row(code=98225)
98368
jbkjrgb 98368
Not foubnd Row(code=98368)
98109
jbkjrgb 98109
Not foubnd Row(code=98109)
98925
jbkjrgb 98925
Not foubnd Row(code=98925)
98548
jbkjrgb 98548
Not foubnd Row(code=98548)
98279
jbkjrgb 98279
Not foubnd Row(code=98279)
98074
jbkjrgb 98074
Not foubnd Row(code=98074)
98241
jbkjrgb 98241
Not foubnd Row(code=98241)
99224
jbkjrgb 99224
Not foubnd Row(code=99224)
98332
jbkjrgb 98332
Not foubnd Row(code=98332)
98292
jbkjrgb 98292
Not foubnd Row(code=98292)
98072
jbkjrgb 98072
Not foubnd Row(code=98072)
98126
jbkjrgb 98126
Not foubnd Row(code=98126)
98335
jbkjrgb 98335
Not foubnd Row(code=98335)
98003
jbkjrgb 98003
Not foubnd Row(code=98003)
99176
jbkjrgb 99176
Not foubnd Row(code=99176)
98362
jbkjrgb 98362
Not foubnd Row(code=98362)
98042
jbkjrgb 98042
Not foubnd Row(code=98042)
98390
jbkjrgb 98390
Not foubnd Row(code=98390)
98036
jbkjrgb 98036
Not foubnd Row(code=98036)
98376
jbkjrgb 98376
Not foubnd Row(code=98376)
98056
jbkjrgb 98056
Not foubnd Row(code=98056)
98055
jbkjrgb 98055
Not foubnd Row(code=98055)
98005
jbkjrgb 98005
Not foubnd Row(code=98005)
98381
jbkjrgb 98381
Not foubnd Row(code=98381)
98282
jbkjrgb 98282
Not foubnd Row(code=98282)
98595
jbkjrgb 98595
Not foubnd Row(code=98595)
98940
jbkjrgb 98940
Not foubnd Row(code=98940)
99022
jbkjrgb 99022
Not foubnd Row(code=99022)
98230
jbkjrgb 98230
Not foubnd Row(code=98230)
98239
jbkjrgb 98239
Not foubnd Row(code=98239)
98059
jbkjrgb 98059
Not foubnd Row(code=98059)
99153
jbkjrgb 99153
Not foubnd Row(code=99153)
98342
jbkjrgb 98342
Not foubnd Row(code=98342)
98360
jbkjrgb 98360
Not foubnd Row(code=98360)
98613
jbkjrgb 98613
Not foubnd Row(code=98613)
98556
jbkjrgb 98556
Not foubnd Row(code=98556)
99371
jbkjrgb 99371
Not foubnd Row(code=99371)
98102
jbkjrgb 98102
Not foubnd Row(code=98102)
99032
jbkjrgb 99032
Not foubnd Row(code=99032)
98062
jbkjrgb 98062
Not foubnd Row(code=98062)
98834
jbkjrgb 98834
Not foubnd Row(code=98834)
99220
jbkjrgb 99220
Not foubnd Row(code=99220)
98227
jbkjrgb 98227
Not foubnd Row(code=98227)
99151
jbkjrgb 99151
Not foubnd Row(code=99151)
98184
jbkjrgb 98184
Not foubnd Row(code=98184)
98565
jbkjrgb 98565
Not foubnd Row(code=98565)
98061
jbkjrgb 98061
Not foubnd Row(code=98061)
98025
jbkjrgb 98025
Not foubnd Row(code=98025)
98386
jbkjrgb 98386
Not foubnd Row(code=98386)
98848
jbkjrgb 98848
Not foubnd Row(code=98848)
99023
jbkjrgb 99023
Not foubnd Row(code=99023)
98527
jbkjrgb 98527
Not foubnd Row(code=98527)
98131
jbkjrgb 98131
Not foubnd Row(code=98131)
98813
jbkjrgb 98813
Not foubnd Row(code=98813)
98443
jbkjrgb 98443
Not foubnd Row(code=98443)
99333
jbkjrgb 99333
Not foubnd Row(code=99333)
99252
jbkjrgb 99252
Not foubnd Row(code=99252)
98382
jbkjrgb 98382
Not foubnd Row(code=98382)
99348
jbkjrgb 99348
Not foubnd Row(code=99348)
99147
jbkjrgb 99147
Not foubnd Row(code=99147)
98649
jbkjrgb 98649
Not foubnd Row(code=98649)
98577
jbkjrgb 98577
Not foubnd Row(code=98577)
99001
jbkjrgb 99001
Not foubnd Row(code=99001)
98610
jbkjrgb 98610
Not foubnd Row(code=98610)
99161
jbkjrgb 99161
Not foubnd Row(code=99161)
99135
jbkjrgb 99135
Not foubnd Row(code=99135)
98433
jbkjrgb 98433
Not foubnd Row(code=98433)
98314
jbkjrgb 98314
Not foubnd Row(code=98314)
98185
jbkjrgb 98185
Not foubnd Row(code=98185)
98635
jbkjrgb 98635
Not foubnd Row(code=98635)
98401
jbkjrgb 98401
Not foubnd Row(code=98401)
98195
jbkjrgb 98195
Not foubnd Row(code=98195)
99144
jbkjrgb 99144
Not foubnd Row(code=99144)
98860
jbkjrgb 98860
Not foubnd Row(code=98860)
98297
jbkjrgb 98297
Not foubnd Row(code=98297)
98322
jbkjrgb 98322
Not foubnd Row(code=98322)
98447
jbkjrgb 98447
Not foubnd Row(code=98447)
99164
jbkjrgb 99164
Not foubnd Row(code=99164)
98413
jbkjrgb 98413
Not foubnd Row(code=98413)
98667
jbkjrgb 98667
Not foubnd Row(code=98667)
98920
jbkjrgb 98920
Not foubnd Row(code=98920)
98544
jbkjrgb 98544
Not foubnd Row(code=98544)
99117
jbkjrgb 99117

Not foubnd Row(code=99117)
98205
jbkjrgb 98205
Not foubnd Row(code=98205)
98228
jbkjrgb 98228
Not foubnd Row(code=98228)
98353
jbkjrgb 98353
Not foubnd Row(code=98353)
98582
jbkjrgb 98582
Not foubnd Row(code=98582)
99256
jbkjrgb 99256
Not foubnd Row(code=99256)
98352
jbkjrgb 98352
Not foubnd Row(code=98352)
98082
jbkjrgb 98082
Not foubnd Row(code=98082)
98816
jbkjrgb 98816
Not foubnd Row(code=98816)
98411
jbkjrgb 98411
Not foubnd Row(code=98411)
98936
jbkjrgb 98936
Not foubnd Row(code=98936)
98537
jbkjrgb 98537
Not foubnd Row(code=98537)
99148
jbkjrgb 99148
Not foubnd Row(code=99148)
99180
jbkjrgb 99180
Not foubnd Row(code=99180)
99335
jbkjrgb 99335
Not foubnd Row(code=99335)
99326
jbkjrgb 99326
Not foubnd Row(code=99326)
99217
jbkjrgb 99217
Not foubnd Row(code=99217)
98846
jbkjrgb 98846
Not foubnd Row(code=98846)
99167
jbkjrgb 99167
Not foubnd Row(code=99167)
98325
jbkjrgb 98325
Not foubnd Row(code=98325)
98602
jbkjrgb 98602
Not foubnd Row(code=98602)
99330
jbkjrgb 99330
Not foubnd Row(code=99330)
98460
jbkjrgb 98460
Not foubnd Row(code=98460)
99107
jbkjrgb 99107
Not foubnd Row(code=99107)
99150
jbkjrgb 99150
Not foubnd Row(code=99150)
99015
jbkjrgb 99015
Not foubnd Row(code=99015)
98385
jbkjrgb 98385
Not foubnd Row(code=98385)
98255
jbkjrgb 98255
Not foubnd Row(code=98255)
98579
jbkjrgb 98579
Not foubnd Row(code=98579)
98118
jbkjrgb 98118
Not foubnd Row(code=98118)
98819
jbkjrgb 98819
Not foubnd Row(code=98819)
99030
jbkjrgb 99030
Not foubnd Row(code=99030)
98947
jbkjrgb 98947
Not foubnd Row(code=98947)
98295
jbkjrgb 98295
Not foubnd Row(code=98295)
98286
jbkjrgb 98286
Not foubnd Row(code=98286)
98263
jbkjrgb 98263
Not foubnd Row(code=98263)
99149
jbkjrgb 99149
Not foubnd Row(code=99149)
99401
jbkjrgb 99401
Not foubnd Row(code=99401)
98857
jbkjrgb 98857
Not foubnd Row(code=98857)
99345
jbkjrgb 99345
Not foubnd Row(code=99345)
98050
jbkjrgb 98050
Not foubnd Row(code=98050)
99139
jbkjrgb 99139
Not foubnd Row(code=99139)
98324
jbkjrgb 98324
Not foubnd Row(code=98324)
98596
jbkjrgb 98596
Not foubnd Row(code=98596)
98384
jbkjrgb 98384
Not foubnd Row(code=98384)
98145
jbkjrgb 98145
Not foubnd Row(code=98145)
99129
jbkjrgb 99129
Not foubnd Row(code=99129)
99123
jbkjrgb 99123
Not foubnd Row(code=99123)
99171
jbkjrgb 99171
Not foubnd Row(code=99171)
98350
jbkjrgb 98350
Not foubnd Row(code=98350)
98408
jbkjrgb 98408
Not foubnd Row(code=98408)
98132
jbkjrgb 98132
Not foubnd Row(code=98132)
98206
jbkjrgb 98206
Not foubnd Row(code=98206)
98343
jbkjrgb 98343
Not foubnd Row(code=98343)
99119
jbkjrgb 99119
Not foubnd Row(code=99119)
98063
jbkjrgb 98063
Not foubnd Row(code=98063)
99323
jbkjrgb 99323
Not foubnd Row(code=99323)
98240
jbkjrgb 98240
Not foubnd Row(code=98240)
99136
jbkjrgb 99136
Not foubnd Row(code=99136)
98071
jbkjrgb 98071
Not foubnd Row(code=98071)
99347
jbkjrgb 99347
Not foubnd Row(code=99347)
98929
jbkjrgb 98929
Not foubnd Row(code=98929)
98174
jbkjrgb 98174
Not foubnd Row(code=98174)
98450
jbkjrgb 98450
Not foubnd Row(code=98450)
99018
jbkjrgb 99018
Not foubnd Row(code=99018)
99155
jbkjrgb 99155
Not foubnd Row(code=99155)
98509
jbkjrgb 98509
Not foubnd Row(code=98509)
98539
jbkjrgb 98539
Not foubnd Row(code=98539)
99363
jbkjrgb 99363
Not foubnd Row(code=99363)
99138
jbkjrgb 99138
Not foubnd Row(code=99138)
98568
jbkjrgb 98568
Not foubnd Row(code=98568)
98165
jbkjrgb 98165
Not foubnd Row(code=98165)
98083
jbkjrgb 98083
Not foubnd Row(code=98083)
98377
jbkjrgb 98377
Not foubnd Row(code=98377)
98674
jbkjrgb 98674
Not foubnd Row(code=98674)
98320
jbkjrgb 98320
Not foubnd Row(code=98320)
98639
jbkjrgb 98639
Not foubnd Row(code=98639)
98392
jbkjrgb 98392
Not foubnd Row(code=98392)
98045
jbkjrgb 98045
Not foubnd Row(code=98045)
99299
jbkjrgb 99299
Not foubnd Row(code=99299)
98331
jbkjrgb 98331
Not foubnd Row(code=98331)
98516
jbkjrgb 98516
Not foubnd Row(code=98516)
98471
jbkjrgb 98471
Not foubnd Row(code=98471)
98571
jbkjrgb 98571
Not foubnd Row(code=98571)
98358
jbkjrgb 98358
Not foubnd Row(code=98358)
98826
jbkjrgb 98826
Not foubnd Row(code=98826)
98588
jbkjrgb 98588
Not foubnd Row(code=98588)
98043
jbkjrgb 98043
Not foubnd Row(code=98043)
99006
jbkjrgb 99006
Not foubnd Row(code=99006)
98158
jbkjrgb 98158
Not foubnd Row(code=98158)
98583
jbkjrgb 98583
Not foubnd Row(code=98583)
98220
jbkjrgb 98220
Not foubnd Row(code=98220)
98662
jbkjrgb 98662
Not foubnd Row(code=98662)
98561
jbkjrgb 98561
Not foubnd Row(code=98561)
98373
jbkjrgb 98373
Not foubnd Row(code=98373)
98490
jbkjrgb 98490
Not foubnd Row(code=98490)
98671
jbkjrgb 98671
Not foubnd Row(code=98671)
98522
jbkjrgb 98522
Not foubnd Row(code=98522)
98643
jbkjrgb 98643
Not foubnd Row(code=98643)
98367
jbkjrgb 98367
Not foubnd Row(code=98367)
98383
jbkjrgb 98383
Not foubnd Row(code=98383)
98249
jbkjrgb 98249
Not foubnd Row(code=98249)
98223
jbkjrgb 98223
Not foubnd Row(code=98223)
98021
jbkjrgb 98021
Not foubnd Row(code=98021)
98039
jbkjrgb 98039
Not foubnd Row(code=98039)
98497
jbkjrgb 98497
Not foubnd Row(code=98497)
98199
jbkjrgb 98199
Not foubnd Row(code=98199)
98031
jbkjrgb 98031
Not foubnd Row(code=98031)
98642
jbkjrgb 98642
Not foubnd Row(code=98642)
98587
jbkjrgb 98587
Not foubnd Row(code=98587)
99350
jbkjrgb 99350
Not foubnd Row(code=99350)
98146
jbkjrgb 98146
Not foubnd Row(code=98146)
98418
jbkjrgb 98418
Not foubnd Row(code=98418)
99403
jbkjrgb 99403
Not foubnd Row(code=99403)
98407
jbkjrgb 98407
Not foubnd Row(code=98407)
98065
jbkjrgb 98065
Not foubnd Row(code=98065)
98493
jbkjrgb 98493
Not foubnd Row(code=98493)
99218
jbkjrgb 99218
Not foubnd Row(code=99218)
98444
jbkjrgb 98444
Not foubnd Row(code=98444)
98336
jbkjrgb 98336
Not foubnd Row(code=98336)
98605
jbkjrgb 98605
Not foubnd Row(code=98605)
98008
jbkjrgb 98008
Not foubnd Row(code=98008)
98944
jbkjrgb 98944
Not foubnd Row(code=98944)
98175
jbkjrgb 98175
Not foubnd Row(code=98175)
99131
jbkjrgb 99131
Not foubnd Row(code=99131)
98647
jbkjrgb 98647
Not foubnd Row(code=98647)
98512
jbkjrgb 98512
Not foubnd Row(code=98512)
99036
jbkjrgb 99036
Not foubnd Row(code=99036)
98496
jbkjrgb 98496
Not foubnd Row(code=98496)
98415
jbkjrgb 98415
Not foubnd Row(code=98415)
98590
jbkjrgb 98590
Not foubnd Row(code=98590)
98629
jbkjrgb 98629
Not foubnd Row(code=98629)
98256
jbkjrgb 98256
Not foubnd Row(code=98256)
98933
jbkjrgb 98933
Not foubnd Row(code=98933)
99357
jbkjrgb 99357
Not foubnd Row(code=99357)
99349
jbkjrgb 99349
Not foubnd Row(code=99349)
99337
jbkjrgb 99337
Not foubnd Row(code=99337)
98631
jbkjrgb 98631
Not foubnd Row(code=98631)
99160
jbkjrgb 99160
Not foubnd Row(code=99160)
98431
jbkjrgb 98431
Not foubnd Row(code=98431)
99159
jbkjrgb 99159
Not foubnd Row(code=99159)
99211
jbkjrgb 99211
Not foubnd Row(code=99211)
98504
jbkjrgb 98504
Not foubnd Row(code=98504)
98406
jbkjrgb 98406
Not foubnd Row(code=98406)
98274
jbkjrgb 98274
Not foubnd Row(code=98274)
98953
jbkjrgb 98953
Not foubnd Row(code=98953)
99165
jbkjrgb 99165
Not foubnd Row(code=99165)
98597
jbkjrgb 98597
Not foubnd Row(code=98597)
98337
jbkjrgb 98337
Not foubnd Row(code=98337)
99154
jbkjrgb 99154
Not foubnd Row(code=99154)
98637
jbkjrgb 98637
Not foubnd Row(code=98637)
98555
jbkjrgb 98555
Not foubnd Row(code=98555)
99122
jbkjrgb 99122
Not foubnd Row(code=99122)
98908
jbkjrgb 98908
Not foubnd Row(code=98908)
98562
jbkjrgb 98562
Not foubnd Row(code=98562)
98359
jbkjrgb 98359
Not foubnd Row(code=98359)
99025
jbkjrgb 99025
Not foubnd Row(code=99025)
98387
jbkjrgb 98387
Not foubnd Row(code=98387)
98648
jbkjrgb 98648
Not foubnd Row(code=98648)
99114
jbkjrgb 99114
Not foubnd Row(code=99114)
99320
jbkjrgb 99320
Not foubnd Row(code=99320)
98661
jbkjrgb 98661
Not foubnd Row(code=98661)
98502
jbkjrgb 98502
Not foubnd Row(code=98502)
98273
jbkjrgb 98273
Not foubnd Row(code=98273)
98644
jbkjrgb 98644
Not foubnd Row(code=98644)
98333
jbkjrgb 98333
Not foubnd Row(code=98333)
98841
jbkjrgb 98841
Not foubnd Row(code=98841)
99258
jbkjrgb 99258
Not foubnd Row(code=99258)
99102
jbkjrgb 99102
Not foubnd Row(code=99102)
98264
jbkjrgb 98264
Not foubnd Row(code=98264)
98935
jbkjrgb 98935
Not foubnd Row(code=98935)
98134
jbkjrgb 98134
Not foubnd Row(code=98134)
99146
jbkjrgb 99146
Not foubnd Row(code=99146)
99206
jbkjrgb 99206
Not foubnd Row(code=99206)
98201
jbkjrgb 98201
Not foubnd Row(code=98201)
98396
jbkjrgb 98396
Not foubnd Row(code=98396)
98010
jbkjrgb 98010
Not foubnd Row(code=98010)
98101
jbkjrgb 98101

Not foubnd Row(code=98101)
98028
jbkjrgb 98028
Not foubnd Row(code=98028)
98113
jbkjrgb 98113
Not foubnd Row(code=98113)
98188
jbkjrgb 98188
Not foubnd Row(code=98188)
98207
jbkjrgb 98207
Not foubnd Row(code=98207)
98507
jbkjrgb 98507
Not foubnd Row(code=98507)
98356
jbkjrgb 98356
Not foubnd Row(code=98356)
98465
jbkjrgb 98465
Not foubnd Row(code=98465)
98937
jbkjrgb 98937
Not foubnd Row(code=98937)
98190
jbkjrgb 98190
Not foubnd Row(code=98190)
98161
jbkjrgb 98161
Not foubnd Row(code=98161)
99104
jbkjrgb 99104
Not foubnd Row(code=99104)
99156
jbkjrgb 99156
Not foubnd Row(code=99156)
98168
jbkjrgb 98168
Not foubnd Row(code=98168)
98093
jbkjrgb 98093
Not foubnd Row(code=98093)
98575
jbkjrgb 98575
Not foubnd Row(code=98575)
98024
jbkjrgb 98024
Not foubnd Row(code=98024)
98569
jbkjrgb 98569
Not foubnd Row(code=98569)
98481
jbkjrgb 98481
Not foubnd Row(code=98481)
98259
jbkjrgb 98259
Not foubnd Row(code=98259)
98166
jbkjrgb 98166
Not foubnd Row(code=98166)
98237
jbkjrgb 98237
Not foubnd Row(code=98237)
98231
jbkjrgb 98231
Not foubnd Row(code=98231)
98121
jbkjrgb 98121
Not foubnd Row(code=98121)
98547
jbkjrgb 98547
Not foubnd Row(code=98547)
98033
jbkjrgb 98033
Not foubnd Row(code=98033)
98001
jbkjrgb 98001
Not foubnd Row(code=98001)
98052
jbkjrgb 98052
Not foubnd Row(code=98052)
98244
jbkjrgb 98244
Not foubnd Row(code=98244)
98103
jbkjrgb 98103
Not foubnd Row(code=98103)
98122
jbkjrgb 98122
Not foubnd Row(code=98122)
98802
jbkjrgb 98802
Not foubnd Row(code=98802)
98650
jbkjrgb 98650
Not foubnd Row(code=98650)
98375
jbkjrgb 98375
Not foubnd Row(code=98375)
98155
jbkjrgb 98155
Not foubnd Row(code=98155)
98586
jbkjrgb 98586
Not foubnd Row(code=98586)
98326
jbkjrgb 98326
Not foubnd Row(code=98326)
98942
jbkjrgb 98942
Not foubnd Row(code=98942)
98354
jbkjrgb 98354
Not foubnd Row(code=98354)
98077
jbkjrgb 98077
Not foubnd Row(code=98077)
98589
jbkjrgb 98589
Not foubnd Row(code=98589)
99157
jbkjrgb 99157
Not foubnd Row(code=99157)
98837
jbkjrgb 98837
Not foubnd Row(code=98837)
98294
jbkjrgb 98294
Not foubnd Row(code=98294)
99111
jbkjrgb 99111
Not foubnd Row(code=99111)
98526
jbkjrgb 98526
Not foubnd Row(code=98526)
98075
jbkjrgb 98075
Not foubnd Row(code=98075)
98506
jbkjrgb 98506
Not foubnd Row(code=98506)
98524
jbkjrgb 98524
Not foubnd Row(code=98524)
98822
jbkjrgb 98822
Not foubnd Row(code=98822)
98686
jbkjrgb 98686
Not foubnd Row(code=98686)
98372
jbkjrgb 98372
Not foubnd Row(code=98372)
98303
jbkjrgb 98303
Not foubnd Row(code=98303)
98002
jbkjrgb 98002
Not foubnd Row(code=98002)
98115
jbkjrgb 98115
Not foubnd Row(code=98115)
98847
jbkjrgb 98847
Not foubnd Row(code=98847)
98665
jbkjrgb 98665
Not foubnd Row(code=98665)
99207
jbkjrgb 99207
Not foubnd Row(code=99207)
98283
jbkjrgb 98283
Not foubnd Row(code=98283)
98831
jbkjrgb 98831
Not foubnd Row(code=98831)
98684
jbkjrgb 98684
Not foubnd Row(code=98684)
98584
jbkjrgb 98584
Not foubnd Row(code=98584)
99019
jbkjrgb 99019
Not foubnd Row(code=99019)
98365
jbkjrgb 98365
Not foubnd Row(code=98365)
99324
jbkjrgb 99324
Not foubnd Row(code=99324)
98203
jbkjrgb 98203
Not foubnd Row(code=98203)
98037
jbkjrgb 98037
Not foubnd Row(code=98037)
98402
jbkjrgb 98402
Not foubnd Row(code=98402)
98208
jbkjrgb 98208
Not foubnd Row(code=98208)
99016
jbkjrgb 99016
Not foubnd Row(code=99016)
98672
jbkjrgb 98672
Not foubnd Row(code=98672)
98445
jbkjrgb 98445
Not foubnd Row(code=98445)
98004
jbkjrgb 98004
Not foubnd Row(code=98004)
98177
jbkjrgb 98177
Not foubnd Row(code=98177)
99037
jbkjrgb 99037
Not foubnd Row(code=99037)
98554
jbkjrgb 98554
Not foubnd Row(code=98554)
98092
jbkjrgb 98092
Not foubnd Row(code=98092)
99208
jbkjrgb 99208
Not foubnd Row(code=99208)
98380
jbkjrgb 98380
Not foubnd Row(code=98380)
98404
jbkjrgb 98404
Not foubnd Row(code=98404)
98112
jbkjrgb 98112
Not foubnd Row(code=98112)
98312
jbkjrgb 98312
Not foubnd Row(code=98312)
98068
jbkjrgb 98068
Not foubnd Row(code=98068)
98027
jbkjrgb 98027
Not foubnd Row(code=98027)
98236
jbkjrgb 98236
Not foubnd Row(code=98236)
98178
jbkjrgb 98178
Not foubnd Row(code=98178)
98531
jbkjrgb 98531
Not foubnd Row(code=98531)
98257
jbkjrgb 98257
Not foubnd Row(code=98257)
98007
jbkjrgb 98007
Not foubnd Row(code=98007)
98366
jbkjrgb 98366
Not foubnd Row(code=98366)
98284
jbkjrgb 98284
Not foubnd Row(code=98284)
98607
jbkjrgb 98607
Not foubnd Row(code=98607)
98370
jbkjrgb 98370
Not foubnd Row(code=98370)
98032
jbkjrgb 98032
Not foubnd Row(code=98032)
98266
jbkjrgb 98266
Not foubnd Row(code=98266)
98272
jbkjrgb 98272
Not foubnd Row(code=98272)
98683
jbkjrgb 98683
Not foubnd Row(code=98683)
99362
jbkjrgb 99362
Not foubnd Row(code=99362)
98221
jbkjrgb 98221
Not foubnd Row(code=98221)
98023
jbkjrgb 98023
Not foubnd Row(code=98023)
98361
jbkjrgb 98361
Not foubnd Row(code=98361)
98104
jbkjrgb 98104
Not foubnd Row(code=98104)
98026
jbkjrgb 98026
Not foubnd Row(code=98026)
98371
jbkjrgb 98371
Not foubnd Row(code=98371)
98110
jbkjrgb 98110
Not foubnd Row(code=98110)
98926
jbkjrgb 98926
Not foubnd Row(code=98926)
98022
jbkjrgb 98022
Not foubnd Row(code=98022)
98198
jbkjrgb 98198
Not foubnd Row(code=98198)
98281
jbkjrgb 98281
Not foubnd Row(code=98281)
98057
jbkjrgb 98057
Not foubnd Row(code=98057)
98253
jbkjrgb 98253
Not foubnd Row(code=98253)
98034
jbkjrgb 98034
Not foubnd Row(code=98034)
98251
jbkjrgb 98251
Not foubnd Row(code=98251)
98260
jbkjrgb 98260
Not foubnd Row(code=98260)
98422
jbkjrgb 98422
Not foubnd Row(code=98422)
98250
jbkjrgb 98250
Not foubnd Row(code=98250)
98108
jbkjrgb 98108
Not foubnd Row(code=98108)
99205
jbkjrgb 99205
Not foubnd Row(code=99205)
98117
jbkjrgb 98117
Not foubnd Row(code=98117)
98136
jbkjrgb 98136
Not foubnd Row(code=98136)
98087
jbkjrgb 98087
Not foubnd Row(code=98087)
98204
jbkjrgb 98204
Not foubnd Row(code=98204)
98261
jbkjrgb 98261
Not foubnd Row(code=98261)
98116
jbkjrgb 98116
Not foubnd Row(code=98116)
98226
jbkjrgb 98226
Not foubnd Row(code=98226)
98106
jbkjrgb 98106
Not foubnd Row(code=98106)
98922
jbkjrgb 98922
Not foubnd Row(code=98922)
99201
jbkjrgb 99201
Not foubnd Row(code=99201)
98304
jbkjrgb 98304
Not foubnd Row(code=98304)
98144
jbkjrgb 98144
Not foubnd Row(code=98144)
98119
jbkjrgb 98119
Not foubnd Row(code=98119)
99179
jbkjrgb 99179
Not foubnd Row(code=99179)
98233
jbkjrgb 98233
Not foubnd Row(code=98233)
99034
jbkjrgb 99034
Not foubnd Row(code=99034)
98238
jbkjrgb 98238
Not foubnd Row(code=98238)
98243
jbkjrgb 98243
Not foubnd Row(code=98243)
98467
jbkjrgb 98467
Not foubnd Row(code=98467)
99328
jbkjrgb 99328
Not foubnd Row(code=99328)
98267
jbkjrgb 98267
Not foubnd Row(code=98267)
98625
jbkjrgb 98625
Not foubnd Row(code=98625)
98855
jbkjrgb 98855
Not foubnd Row(code=98855)
99166
jbkjrgb 99166
Not foubnd Row(code=99166)
99210
jbkjrgb 99210
Not foubnd Row(code=99210)
98498
jbkjrgb 98498
Not foubnd Row(code=98498)
98536
jbkjrgb 98536
Not foubnd Row(code=98536)
98224
jbkjrgb 98224
Not foubnd Row(code=98224)
99223
jbkjrgb 99223
Not foubnd Row(code=99223)
98006
jbkjrgb 98006
Not foubnd Row(code=98006)
98296
jbkjrgb 98296
Not foubnd Row(code=98296)
99140
jbkjrgb 99140
Not foubnd Row(code=99140)
98601
jbkjrgb 98601
Not foubnd Row(code=98601)
99353
jbkjrgb 99353
Not foubnd Row(code=99353)
98160
jbkjrgb 98160
Not foubnd Row(code=98160)
98546
jbkjrgb 98546
Not foubnd Row(code=98546)
98464
jbkjrgb 98464
Not foubnd Row(code=98464)
98245
jbkjrgb 98245
Not foubnd Row(code=98245)
98952
jbkjrgb 98952
Not foubnd Row(code=98952)
98824
jbkjrgb 98824
Not foubnd Row(code=98824)
99009
jbkjrgb 99009
Not foubnd Row(code=99009)
98164
jbkjrgb 98164
Not foubnd Row(code=98164)
98801
jbkjrgb 98801
Not foubnd Row(code=98801)
98859
jbkjrgb 98859
Not foubnd Row(code=98859)
98511
jbkjrgb 98511
Not foubnd Row(code=98511)
98430
jbkjrgb 98430
Not foubnd Row(code=98430)
98345
jbkjrgb 98345
Not foubnd Row(code=98345)
98305
jbkjrgb 98305
Not foubnd Row(code=98305)
98858
jbkjrgb 98858
Not foubnd Row(code=98858)
98171
jbkjrgb 98171
Not foubnd Row(code=98171)
98909
jbkjrgb 98909
Not foubnd Row(code=98909)
99344
jbkjrgb 99344
Not foubnd Row(code=99344)
98563
jbkjrgb 98563
Not foubnd Row(code=98563)
98344
jbkjrgb 98344
Not foubnd Row(code=98344)
99130
jbkjrgb 99130
Not foubnd Row(code=99130)
98623
jbkjrgb 98623
Not foubnd Row(code=98623)
98832
jbkjrgb 98832
Not foubnd Row(code=98832)
99343
jbkjrgb 99343

Not foubnd Row(code=99343)
99127
jbkjrgb 99127
Not foubnd Row(code=99127)
98559
jbkjrgb 98559
Not foubnd Row(code=98559)
98438
jbkjrgb 98438
Not foubnd Row(code=98438)
99040
jbkjrgb 99040
Not foubnd Row(code=99040)
98252
jbkjrgb 98252
Not foubnd Row(code=98252)
98288
jbkjrgb 98288
Not foubnd Row(code=98288)
98439
jbkjrgb 98439
Not foubnd Row(code=98439)
98821
jbkjrgb 98821
Not foubnd Row(code=98821)
98934
jbkjrgb 98934
Not foubnd Row(code=98934)
98041
jbkjrgb 98041
Not foubnd Row(code=98041)
98668
jbkjrgb 98668
Not foubnd Row(code=98668)
98154
jbkjrgb 98154
Not foubnd Row(code=98154)
98851
jbkjrgb 98851
Not foubnd Row(code=98851)
98814
jbkjrgb 98814
Not foubnd Row(code=98814)
99011
jbkjrgb 99011
Not foubnd Row(code=99011)
99033
jbkjrgb 99033
Not foubnd Row(code=99033)
98542
jbkjrgb 98542
Not foubnd Row(code=98542)
98850
jbkjrgb 98850
Not foubnd Row(code=98850)
98576
jbkjrgb 98576
Not foubnd Row(code=98576)
98170
jbkjrgb 98170
Not foubnd Row(code=98170)
98849
jbkjrgb 98849
Not foubnd Row(code=98849)
98673
jbkjrgb 98673
Not foubnd Row(code=98673)
98258
jbkjrgb 98258
Not foubnd Row(code=98258)
98619
jbkjrgb 98619
Not foubnd Row(code=98619)
98191
jbkjrgb 98191
Not foubnd Row(code=98191)
98624
jbkjrgb 98624
Not foubnd Row(code=98624)
98013
jbkjrgb 98013
Not foubnd Row(code=98013)
98070
jbkjrgb 98070
Not foubnd Row(code=98070)
98687
jbkjrgb 98687
Not foubnd Row(code=98687)
98315
jbkjrgb 98315
Not foubnd Row(code=98315)
98611
jbkjrgb 98611
Not foubnd Row(code=98611)
98378
jbkjrgb 98378
Not foubnd Row(code=98378)
99133
jbkjrgb 99133
Not foubnd Row(code=99133)
99173
jbkjrgb 99173
Not foubnd Row(code=99173)
99029
jbkjrgb 99029
Not foubnd Row(code=99029)
98538
jbkjrgb 98538
Not foubnd Row(code=98538)
99301
jbkjrgb 99301
Not foubnd Row(code=99301)
98817
jbkjrgb 98817
Not foubnd Row(code=98817)
98394
jbkjrgb 98394
Not foubnd Row(code=98394)
98019
jbkjrgb 98019
Not foubnd Row(code=98019)
98628
jbkjrgb 98628
Not foubnd Row(code=98628)
98064
jbkjrgb 98064
Not foubnd Row(code=98064)
98393
jbkjrgb 98393
Not foubnd Row(code=98393)
98046
jbkjrgb 98046
Not foubnd Row(code=98046)
98829
jbkjrgb 98829
Not foubnd Row(code=98829)
98830
jbkjrgb 98830
Not foubnd Row(code=98830)
98663
jbkjrgb 98663
Not foubnd Row(code=98663)
98541
jbkjrgb 98541
Not foubnd Row(code=98541)
98012
jbkjrgb 98012
Not foubnd Row(code=98012)
98609
jbkjrgb 98609
Not foubnd Row(code=98609)
99214
jbkjrgb 99214
Not foubnd Row(code=99214)
98570
jbkjrgb 98570
Not foubnd Row(code=98570)
98276
jbkjrgb 98276
Not foubnd Row(code=98276)
98047
jbkjrgb 98047
Not foubnd Row(code=98047)
98828
jbkjrgb 98828
Not foubnd Row(code=98828)
98374
jbkjrgb 98374
Not foubnd Row(code=98374)
98073
jbkjrgb 98073
Not foubnd Row(code=98073)
98651
jbkjrgb 98651
Not foubnd Row(code=98651)
99017
jbkjrgb 99017
Not foubnd Row(code=99017)
98946
jbkjrgb 98946
Not foubnd Row(code=98946)
98612
jbkjrgb 98612
Not foubnd Row(code=98612)
98357
jbkjrgb 98357
Not foubnd Row(code=98357)
98943
jbkjrgb 98943
Not foubnd Row(code=98943)
98564
jbkjrgb 98564
Not foubnd Row(code=98564)
99124
jbkjrgb 99124
Not foubnd Row(code=99124)
98492
jbkjrgb 98492
Not foubnd Row(code=98492)
98840
jbkjrgb 98840
Not foubnd Row(code=98840)
98416
jbkjrgb 98416
Not foubnd Row(code=98416)
98581
jbkjrgb 98581
Not foubnd Row(code=98581)
98235
jbkjrgb 98235
Not foubnd Row(code=98235)
98477
jbkjrgb 98477
Not foubnd Row(code=98477)
98054
jbkjrgb 98054
Not foubnd Row(code=98054)
98604
jbkjrgb 98604
Not foubnd Row(code=98604)
98530
jbkjrgb 98530
Not foubnd Row(code=98530)
98114
jbkjrgb 98114
Not foubnd Row(code=98114)
98923
jbkjrgb 98923
Not foubnd Row(code=98923)
98349
jbkjrgb 98349
Not foubnd Row(code=98349)
98904
jbkjrgb 98904
Not foubnd Row(code=98904)
98951
jbkjrgb 98951
Not foubnd Row(code=98951)
99163
jbkjrgb 99163
Not foubnd Row(code=99163)
99322
jbkjrgb 99322
Not foubnd Row(code=99322)
99026
jbkjrgb 99026
Not foubnd Row(code=99026)
98552
jbkjrgb 98552
Not foubnd Row(code=98552)
99105
jbkjrgb 99105
Not foubnd Row(code=99105)
99321
jbkjrgb 99321
Not foubnd Row(code=99321)
99014
jbkjrgb 99014
Not foubnd Row(code=99014)
98403
jbkjrgb 98403
Not foubnd Row(code=98403)
99329
jbkjrgb 99329
Not foubnd Row(code=99329)
99005
jbkjrgb 99005
Not foubnd Row(code=99005)
98856
jbkjrgb 98856
Not foubnd Row(code=98856)
99185
jbkjrgb 99185
Not foubnd Row(code=99185)
98811
jbkjrgb 98811
Not foubnd Row(code=98811)
99128
jbkjrgb 99128
Not foubnd Row(code=99128)
99302
jbkjrgb 99302
Not foubnd Row(code=99302)
99361
jbkjrgb 99361
Not foubnd Row(code=99361)
98558
jbkjrgb 98558
Not foubnd Row(code=98558)
98540
jbkjrgb 98540
Not foubnd Row(code=98540)
98591
jbkjrgb 98591
Not foubnd Row(code=98591)
99209
jbkjrgb 99209
Not foubnd Row(code=99209)
99143
jbkjrgb 99143
Not foubnd Row(code=99143)
98638
jbkjrgb 98638
Not foubnd Row(code=98638)
99134
jbkjrgb 99134
Not foubnd Row(code=99134)
98950
jbkjrgb 98950
Not foubnd Row(code=98950)
98907
jbkjrgb 98907
Not foubnd Row(code=98907)
98664
jbkjrgb 98664
Not foubnd Row(code=98664)
98181
jbkjrgb 98181
Not foubnd Row(code=98181)
99020
jbkjrgb 99020
Not foubnd Row(code=99020)
98124
jbkjrgb 98124
Not foubnd Row(code=98124)
98585
jbkjrgb 98585
Not foubnd Row(code=98585)
99031
jbkjrgb 99031
Not foubnd Row(code=99031)
99174
jbkjrgb 99174
Not foubnd Row(code=99174)
99213
jbkjrgb 99213
Not foubnd Row(code=99213)
98941
jbkjrgb 98941
Not foubnd Row(code=98941)
98397
jbkjrgb 98397
Not foubnd Row(code=98397)
99169
jbkjrgb 99169
Not foubnd Row(code=99169)
98035
jbkjrgb 98035
Not foubnd Row(code=98035)
98138
jbkjrgb 98138
Not foubnd Row(code=98138)
98599
jbkjrgb 98599
Not foubnd Row(code=98599)
99121
jbkjrgb 99121
Not foubnd Row(code=99121)
99008
jbkjrgb 99008
Not foubnd Row(code=99008)
98593
jbkjrgb 98593
Not foubnd Row(code=98593)
98645
jbkjrgb 98645
Not foubnd Row(code=98645)
98051
jbkjrgb 98051
Not foubnd Row(code=98051)
98932
jbkjrgb 98932
Not foubnd Row(code=98932)
98194
jbkjrgb 98194
Not foubnd Row(code=98194)
98364
jbkjrgb 98364
Not foubnd Row(code=98364)
98580
jbkjrgb 98580
Not foubnd Row(code=98580)
98330
jbkjrgb 98330
Not foubnd Row(code=98330)
99204
jbkjrgb 99204
Not foubnd Row(code=99204)
99341
jbkjrgb 99341
Not foubnd Row(code=99341)
99027
jbkjrgb 99027
Not foubnd Row(code=99027)
98930
jbkjrgb 98930
Not foubnd Row(code=98930)
98139
jbkjrgb 98139
Not foubnd Row(code=98139)
98351
jbkjrgb 98351
Not foubnd Row(code=98351)
98232
jbkjrgb 98232
Not foubnd Row(code=98232)
98606
jbkjrgb 98606
Not foubnd Row(code=98606)
99003
jbkjrgb 99003
Not foubnd Row(code=99003)
98417
jbkjrgb 98417
Not foubnd Row(code=98417)
98338
jbkjrgb 98338
Not foubnd Row(code=98338)
98409
jbkjrgb 98409
Not foubnd Row(code=98409)
98125
jbkjrgb 98125
Not foubnd Row(code=98125)
99203
jbkjrgb 99203
Not foubnd Row(code=99203)
98419
jbkjrgb 98419
Not foubnd Row(code=98419)
98666
jbkjrgb 98666
Not foubnd Row(code=98666)
99152
jbkjrgb 99152
Not foubnd Row(code=99152)
98291
jbkjrgb 98291
Not foubnd Row(code=98291)
98213
jbkjrgb 98213
Not foubnd Row(code=98213)
98616
jbkjrgb 98616
Not foubnd Row(code=98616)
98323
jbkjrgb 98323
Not foubnd Row(code=98323)
99113
jbkjrgb 99113
Not foubnd Row(code=99113)
98622
jbkjrgb 98622
Not foubnd Row(code=98622)
98948
jbkjrgb 98948
Not foubnd Row(code=98948)
98141
jbkjrgb 98141
Not foubnd Row(code=98141)
99212
jbkjrgb 99212
Not foubnd Row(code=99212)
98348
jbkjrgb 98348
Not foubnd Row(code=98348)
98921
jbkjrgb 98921
Not foubnd Row(code=98921)
98189
jbkjrgb 98189
Not foubnd Row(code=98189)
99110
jbkjrgb 99110
Not foubnd Row(code=99110)
98278
jbkjrgb 98278
Not foubnd Row(code=98278)
98455
jbkjrgb 98455
Not foubnd Row(code=98455)
98621
jbkjrgb 98621
Not foubnd Row(code=98621)
99103
jbkjrgb 99103
Not foubnd Row(code=99103)
98566
jbkjrgb 98566
Not foubnd Row(code=98566)
98442
jbkjrgb 98442
Not foubnd Row(code=98442)
99215
jbkjrgb 99215
Not foubnd Row(code=99215)
98572
jbkjrgb 98572
Not foubnd Row(code=98572)
98089
jbkjrgb 98089
Not foubnd Row(code=98089)
99346
jbkjrgb 99346
Not foubnd Row(code=99346)
98287
jbkjrgb 98287
Not foubnd Row(code=98287)
98009
jbkjrgb 98009
Not foubnd Row(code=98009)
98111
jbkjrgb 98111
Not foubnd Row(code=98111)
98508
jbkjrgb 98508
Not foubnd Row(code=98508)
99137
jbkjrgb 99137
Not foubnd Row(code=99137)
99356
jbkjrgb 99356
Not foubnd Row(code=99356)
99013
jbkjrgb 99013
Not foubnd Row(code=99013)
99219
jbkjrgb 99219

Not foubnd Row(code=99219)
98641
jbkjrgb 98641
Not foubnd Row(code=98641)
98127
jbkjrgb 98127
Not foubnd Row(code=98127)
99251
jbkjrgb 99251
Not foubnd Row(code=99251)
99125
jbkjrgb 99125
Not foubnd Row(code=99125)
99116
jbkjrgb 99116
Not foubnd Row(code=99116)
98412
jbkjrgb 98412
Not foubnd Row(code=98412)
99332
jbkjrgb 99332
Not foubnd Row(code=99332)
98852
jbkjrgb 98852
Not foubnd Row(code=98852)
98398
jbkjrgb 98398
Not foubnd Row(code=98398)
98293
jbkjrgb 98293
Not foubnd Row(code=98293)
98807
jbkjrgb 98807
Not foubnd Row(code=98807)
99012
jbkjrgb 99012
Not foubnd Row(code=99012)
99118
jbkjrgb 99118
Not foubnd Row(code=99118)
98280
jbkjrgb 98280
Not foubnd Row(code=98280)
99170
jbkjrgb 99170
Not foubnd Row(code=99170)
98617
jbkjrgb 98617
Not foubnd Row(code=98617)
98355
jbkjrgb 98355
Not foubnd Row(code=98355)
98151
jbkjrgb 98151
Not foubnd Row(code=98151)
99158
jbkjrgb 99158
Not foubnd Row(code=99158)
98939
jbkjrgb 98939
Not foubnd Row(code=98939)
99260
jbkjrgb 99260
Not foubnd Row(code=99260)
98938
jbkjrgb 98938
Not foubnd Row(code=98938)
98329
jbkjrgb 98329
Not foubnd Row(code=98329)
98560
jbkjrgb 98560
Not foubnd Row(code=98560)
98533
jbkjrgb 98533
Not foubnd Row(code=98533)
98405
jbkjrgb 98405
Not foubnd Row(code=98405)
99021
jbkjrgb 99021
Not foubnd Row(code=99021)
98363
jbkjrgb 98363
Not foubnd Row(code=98363)
98105
jbkjrgb 98105
Not foubnd Row(code=98105)
98845
jbkjrgb 98845
Not foubnd Row(code=98845)

In [14]:
city_details = zipcodes.select("code").collect()

In [18]:
# temp_city_food
get_all_stats("98262")

[8, 9]

In [5]:
yelp_api.search_query(categories='food', location="98262", radius =3218)

{'businesses': [{'id': 'TVK83ILCf7UcXGCQz7wxrg',
   'alias': 'simmering-tava-bellingham',
   'name': 'Simmering Tava',
   'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/EOnVwBGk3epEo2MbrM98mA/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/simmering-tava-bellingham?adjust_creative=DvXlhY2IDtiksQTbLUjD4A&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=DvXlhY2IDtiksQTbLUjD4A',
   'review_count': 62,
   'categories': [{'alias': 'indpak', 'title': 'Indian'},
    {'alias': 'foodtrucks', 'title': 'Food Trucks'}],
   'rating': 4.5,
   'coordinates': {'latitude': 48.72027, 'longitude': -122.51043},
   'transactions': ['delivery'],
   'price': '$',
   'location': {'address1': '501 Harris Ave',
    'address2': '',
    'address3': '',
    'city': 'Bellingham',
    'zip_code': '98225',
    'country': 'US',
    'state': 'WA',
    'display_address': ['501 Harris Ave', 'Bellingham, WA 98225']},
   'phone': '+13605197815',
   'display_phone': '(360) 519-7815',
   'distance': 10635.29229865929},
  {'id': 'vtvb7dAx-WZGR0Qf1U8TCQ',
   'alias': 'acme-farms-kitchen-bellingham',
   'name': 'Acme Farms + Kitchen',
   'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/gHLZ7YBvIcB2mUEPrrVL8g/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/acme-farms-kitchen-bellingham?adjust_creative=DvXlhY2IDtiksQTbLUjD4A&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=DvXlhY2IDtiksQTbLUjD4A',
   'review_count': 21,
   'categories': [{'alias': 'diyfood', 'title': 'Do-It-Yourself Food'},
    {'alias': 'fooddeliveryservices', 'title': 'Food Delivery Services'}],
   'rating': 4.0,
   'coordinates': {'latitude': 48.76595298182964,
    'longitude': -122.50296712883552},
   'transactions': [],
   'location': {'address1': '909 Squalicum Way',
    'address2': 'Ste 104',
    'address3': '',
    'city': 'Bellingham',
    'zip_code': '98225',
    'country': 'US',
    'state': 'WA',
    'display_address': ['909 Squalicum Way',
     'Ste 104',
     'Bellingham, WA 98225']},
   'phone': '',
   'display_phone': '',
   'distance': 13391.831154758273},
  {'id': 'LkREVaEH31SyMnNna3ietA',
   'alias': 'alaska-wild-fish-and-chip-blaine-3',
   'name': 'Alaska Wild Fish & Chip',
   'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/s2-SEKSZgt8OKi0u4tdavQ/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/alaska-wild-fish-and-chip-blaine-3?adjust_creative=DvXlhY2IDtiksQTbLUjD4A&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=DvXlhY2IDtiksQTbLUjD4A',
   'review_count': 37,
   'categories': [{'alias': 'foodtrucks', 'title': 'Food Trucks'},
    {'alias': 'fishnchips', 'title': 'Fish & Chips'}],
   'rating': 3.5,
   'coordinates': {'latitude': 48.9929509, 'longitude': -122.7636788},
   'transactions': [],
   'price': '$$',
   'location': {'address1': '277 Marine Dr',
    'address2': None,
    'address3': '',
    'city': 'Blaine',
    'zip_code': '98230',
    'country': 'US',
    'state': 'WA',
    'display_address': ['277 Marine Dr', 'Blaine, WA 98230']},
   'phone': '+13609352278',
   'display_phone': '(360) 935-2278',
   'distance': 34208.69601618133},
  {'id': '7G-usdUuJnL3Dn_KM4iihw',
   'alias': 'sugar-shack-ice-cream-blaine',
   'name': 'Sugar Shack Ice Cream',
   'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/F1f1GOStAp1k0nmNciVVpQ/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/sugar-shack-ice-cream-blaine?adjust_creative=DvXlhY2IDtiksQTbLUjD4A&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=DvXlhY2IDtiksQTbLUjD4A',
   'review_count': 3,
   'categories': [{'alias': 'icecream', 'title': 'Ice Cream & Frozen Yogurt'},
    {'alias': 'foodtrucks', 'title': 'Food Trucks'}],
   'rating': 3.5,
   'coordinates': {'latitude': 48.9951858520508,
    'longitude': -122.745780944824},
   'transactions': [],
   'location': {'address1': None,
    'address2': None,
    'address3': '',
    'city': 'Blaine',
    'zip_code': '98230',
    'country': 'US',
    'state': 'WA',
    'display_address': ['Blaine, WA 98230']},
   'phone': '+13603937768',
   'display_phone': '(360) 393-7768',
   'distance': 34018.298227273975}],
 'total': 4,
 'region': {'center': {'longitude': -122.64999389648438,
   'latitude': 48.69454050561929}}}

In [26]:
len(temp_city_food_tran)

717

In [30]:
len(temp_city_food_tran)

1432

In [42]:
data_food_tran
for i in temp_city_food_tran[:717]:
    [i[0], i[1][0], i[1][0]]

In [52]:
food_trans_df = spark.createDataFrame(temp_city_food_tran[:717], ["zipcode", "values"]).withColumn("Food_Places_Count", F.col("values")[0]).withColumn("Transport_Places_Count", F.col("values")[1])

In [53]:
night_rest_df = spark.createDataFrame(temp_city_food_tran[717:], ["zipcode", "values"]).withColumn("Night_Places_Count", F.col("values")[0]).withColumn("Restaturant_Places_Count", F.col("values")[1])

In [54]:
shops_activties_df = spark.createDataFrame(temp_city_shop_act, ["zipcode", "values"]).withColumn("Shops_Places_Count", F.col("values")[0]).withColumn("Activities_Places_Count", F.col("values")[1])

In [59]:
food_trans_df.drop("values").join(night_rest_df.drop("values"), "zipcode", "outer").join(night_rest_df.drop("values"), "zipcode", "outer")

DataFrame[zipcode: bigint, Food_Places_Count: bigint, Transport_Places_Count: bigint, Night_Places_Count: bigint, Restaturant_Places_Count: bigint, Night_Places_Count: bigint, Restaturant_Places_Count: bigint]

In [61]:
# https://maps.googleapis.com/maps/api/place/textsearch/json?query=new+york+city+point+of+interest&language=en&key=API_KEY

# google api for getting the trending places but currently not working because of billing issues

import requests, json
  
# enter your api key here
api_key = 'AIzaSyDYEAVIOFHDA3YCbWKjATxY3-fcm9ils1g'
  
# url variable store url
url = "https://maps.googleapis.com/maps/api/place/textsearch/json?"
  
# The text string on which to search
query = input('Search query: ')
  
# get method of requests module
# return response object
r = requests.get(url + 'query=' + query +
                        '&key=' + api_key)
  
# json method of response object convert
#  json format data into python format data
x = r.json()
  
# now x contains list of nested dictionaries
# we know dictionary contain key value pair
# store the value of result key in variable y
y = x['results']
  
# keep looping upto length of y
for i in range(len(y)):
      
    # Print value corresponding to the
    # 'name' key at the ith index of y
    print(y[i]['name'])

Search query: charlotte

In [114]:
r = requests.get("https://maps.googleapis.com/maps/api/place/textsearch/json?query=todo+in+India&key=AIzaSyDYEAVIOFHDA3YCbWKjATxY3-fcm9ils1g")
r.text

'{\n   "error_message" : "You must enable Billing on the Google Cloud Project at https://console.cloud.google.com/project/_/billing/enable Learn more at https://developers.google.com/maps/gmp-get-started",\n   "html_attributions" : [],\n   "results" : [],\n   "status" : "REQUEST_DENIED"\n}\n'

In [74]:
https://maps.googleapis.com/maps/api/place/textsearch/json?query=todo+in+India&key=yourkey

'{\n   "error_message" : "This API project is not authorized to use this API.",\n   "html_attributions" : [],\n   "results" : [],\n   "status" : "REQUEST_DENIED"\n}\n'

In [93]:
# Define Foursquare Credentials 

CLIENT_ID = "C0VZPNOMWRXDO55LGSKFY23AE3ZYKYHY0FILIMZXPBXU5Z5G"
CLIENT_SECRET =  "5NFLLIQVCWGYT5ZOKZBY05KH2D2AGFPKPSGQHBZ0JDDUA4EC"
VERSION = '20180604'
LIMIT = 30
print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: C0VZPNOMWRXDO55LGSKFY23AE3ZYKYHY0FILIMZXPBXU5Z5G
CLIENT_SECRET:5NFLLIQVCWGYT5ZOKZBY05KH2D2AGFPKPSGQHBZ0JDDUA4EC

{
   "error_message" : "This API project is not authorized to use this API.",
   "html_attributions" : [],
   "status" : "REQUEST_DENIED"
}

In [90]:
# function to return the nearest places using foursquare api based  on the name and radius
def getNearbyVenues(names, near, radius):
    venues_list=[]
    url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&near={}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            near,
            radius, 
            LIMIT)
        
        # make the GET request
        results = requests.get(url).json()["response"]#['groups'][0]['items']
        print("estst", results)
         # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])
        
    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighbourhood', 
                  'Neighbourhood Latitude', 
                  'Neighbourhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

IndentationError: unexpected indent (3270663042.py, line 8)

In [155]:
# sample testing the API
url = 'https://api.foursquare.com/v2/venues/trending?&client_id={}&client_secret={}&v={}&near={}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            "Seattle",
            11111500, 
            LIMIT)
        
# make the GET request
results = requests.get(url).json()["response"]#['groups'][0]['items']

 # return only relevant information for each nearby venue

estst {'venues': [{'id': '45f555cef964a5200e441fe3', 'name': 'Seattle-Tacoma International Airport (SEA) (Seattle-Tacoma International Airport)', 'location': {'address': '17801 International Blvd', 'crossStreet': 'at S 188th St', 'lat': 47.44358853419229, 'lng': -122.302508354187, 'labeledLatLngs': [{'label': 'display', 'lat': 47.44358853419229, 'lng': -122.302508354187}], 'postalCode': '98158', 'cc': 'US', 'city': 'SeaTac', 'state': 'WA', 'country': 'United States', 'formattedAddress': ['17801 International Blvd (at S 188th St)', 'SeaTac, WA 98158', 'United States']}, 'categories': [{'id': '4bf58dd8d48988d1ed931735', 'name': 'Airport', 'pluralName': 'Airports', 'shortName': 'Airport', 'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/travel/airport_', 'suffix': '.png'}, 'primary': True}], 'venuePage': {'id': '64944934'}}], 'geocode': {'what': '', 'where': 'seattle', 'feature': {'cc': 'US', 'name': 'Seattle', 'displayName': 'Seattle, WA, United States', 'matchedName': 'Seattle, WA, United States', 'highlightedName': '<b>Seattle</b>, WA, United States', 'woeType': 7, 'slug': 'seattle-washington', 'id': 'geonameid:5809844', 'longId': '72057594043737780', 'geometry': {'center': {'lat': 47.60621, 'lng': -122.33207}, 'bounds': {'ne': {'lat': 47.734145, 'lng': -122.224433}, 'sw': {'lat': 47.481719999999996, 'lng': -122.459696}}}}, 'parents': []}}

In [170]:
# Foursquare api to get the trending and POI places
trending_venues = []
for i in zipcodes.select("code").collect():
    try:
        print(i[0])
        url = 'https://api.foursquare.com/v2/venues/trending?&client_id={}&client_secret={}&v={}&near={}&radius={}&limit={}'.format(
                CLIENT_ID, 
                CLIENT_SECRET, 
                VERSION, 
                i[0],
                11111500, 
                LIMIT)

        # make the GET request
        results = requests.get(url).json()["response"]#['groups'][0]['items']
        trending_venues.append([i, results])
        print(i)
    except:
        print("not found", i)

99181
Row(code=99181)
99115
Row(code=99115)
98421
Row(code=98421)
98015
Row(code=98015)
98262
Row(code=98262)
98448
Row(code=98448)
98815
Row(code=98815)
98670
Row(code=98670)
98592
Row(code=98592)
99327
Row(code=99327)
98222
Row(code=98222)
98827
Row(code=98827)
98129
Row(code=98129)
98614
Row(code=98614)
98853
Row(code=98853)
98148
Row(code=98148)
99039
Row(code=99039)
98388
Row(code=98388)
98843
Row(code=98843)
98040
Row(code=98040)
98107
Row(code=98107)
99360
Row(code=99360)
98812
Row(code=98812)
98395
Row(code=98395)
99359
Row(code=99359)
99141
Row(code=99141)
98833
Row(code=98833)
98626
Row(code=98626)
98340
Row(code=98340)
99228
Row(code=99228)
98603
Row(code=98603)
98310
Row(code=98310)
98836
Row(code=98836)
98503
Row(code=98503)
98270
Row(code=98270)
98424
Row(code=98424)
98520
Row(code=98520)
98014
Row(code=98014)
98660
Row(code=98660)
98311
Row(code=98311)
99109
Row(code=99109)
99101
Row(code=99101)
98029
Row(code=98029)
98290
Row(code=98290)
98823
Row(code=98823)
98902
Row(code=98902)
98620
Row(code=98620)
98632
Row(code=98632)
98053
Row(code=98053)
98466
Row(code=98466)
98011
Row(code=98011)
98271
Row(code=98271)
98535
Row(code=98535)
98327
Row(code=98327)
98532
Row(code=98532)
98685
Row(code=98685)
98277
Row(code=98277)
98248
Row(code=98248)
98133
Row(code=98133)
98844
Row(code=98844)
98020
Row(code=98020)
98528
Row(code=98528)
98038
Row(code=98038)
98640
Row(code=98640)
98339
Row(code=98339)
98275
Row(code=98275)
98550
Row(code=98550)
99216
Row(code=99216)
98682
Row(code=98682)
98901
Row(code=98901)
98862
Row(code=98862)
98058
Row(code=98058)
99004
Row(code=99004)
98446
Row(code=98446)
99202
Row(code=99202)
98346
Row(code=98346)
98328
Row(code=98328)
99126
Row(code=99126)
98501
Row(code=98501)
98513
Row(code=98513)
98321
Row(code=98321)
98557
Row(code=98557)
98675
Row(code=98675)
99352
Row(code=99352)
98247
Row(code=98247)
99402
Row(code=99402)
98499
Row(code=98499)
98903
Row(code=98903)
98505
Row(code=98505)
99338
Row(code=99338)
99336
Row(code=99336)
98225
Row(code=98225)
98368
Row(code=98368)
98109
Row(code=98109)
98925
Row(code=98925)
98548
Row(code=98548)
98279
Row(code=98279)
98074
Row(code=98074)
98241
Row(code=98241)
99224
Row(code=99224)
98332
Row(code=98332)
98292
Row(code=98292)
98072
Row(code=98072)
98126
Row(code=98126)
98335
Row(code=98335)
98003
Row(code=98003)
99176
Row(code=99176)
98362
Row(code=98362)
98042
Row(code=98042)
98390
Row(code=98390)
98036
Row(code=98036)
98376
Row(code=98376)
98056
Row(code=98056)
98055
Row(code=98055)
98005
Row(code=98005)
98381
Row(code=98381)
98282
Row(code=98282)
98595
Row(code=98595)
98940
Row(code=98940)
99022
Row(code=99022)
98230
Row(code=98230)
98239
Row(code=98239)
98059
Row(code=98059)
99153
Row(code=99153)
98342
Row(code=98342)
98360
Row(code=98360)
98613
Row(code=98613)
98556
Row(code=98556)
99371
Row(code=99371)
98102
Row(code=98102)
99032
Row(code=99032)
98062
Row(code=98062)
98834
Row(code=98834)
99220
Row(code=99220)
98227
Row(code=98227)
99151
Row(code=99151)
98184
Row(code=98184)
98565
Row(code=98565)
98061
Row(code=98061)
98025
Row(code=98025)
98386
Row(code=98386)
98848
Row(code=98848)
99023
Row(code=99023)
98527
Row(code=98527)
98131
Row(code=98131)
98813
Row(code=98813)
98443
Row(code=98443)
99333
Row(code=99333)
99252
Row(code=99252)
98382
Row(code=98382)
99348
Row(code=99348)
99147
Row(code=99147)
98649
Row(code=98649)
98577
Row(code=98577)
99001
Row(code=99001)
98610
Row(code=98610)
99161
Row(code=99161)
99135
Row(code=99135)
98433
Row(code=98433)
98314
Row(code=98314)
98185
Row(code=98185)
98635
Row(code=98635)
98401
Row(code=98401)
98195
Row(code=98195)
99144
Row(code=99144)
98860
Row(code=98860)
98297
Row(code=98297)
98322
Row(code=98322)
98447
Row(code=98447)
99164
Row(code=99164)
98413
Row(code=98413)
98667
Row(code=98667)
98920
Row(code=98920)
98544
Row(code=98544)
99117
Row(code=99117)
98205
Row(code=98205)
98228
Row(code=98228)
98353
Row(code=98353)
98582
Row(code=98582)
99256
Row(code=99256)
98352
Row(code=98352)
98082
Row(code=98082)
98816
Row(code=98816)
98411
Row(code=98411)
98936
Row(code=98936)
98537
Row(code=98537)
99148
Row(code=99148)
99180
Row(code=99180)
99335
Row(code=99335)
99326
Row(code=99326)
99217
Row(code=99217)
98846
Row(code=98846)
99167
Row(code=99167)
98325
Row(code=98325)
98602
Row(code=98602)
99330
Row(code=99330)
98460
Row(code=98460)
99107
Row(code=99107)
99150
Row(code=99150)
99015
Row(code=99015)
98385
Row(code=98385)
98255
Row(code=98255)
98579
Row(code=98579)
98118
Row(code=98118)
98819
Row(code=98819)
99030
Row(code=99030)
98947
Row(code=98947)
98295
Row(code=98295)
98286
Row(code=98286)
98263
Row(code=98263)
99149
Row(code=99149)
99401
Row(code=99401)
98857
Row(code=98857)
99345
Row(code=99345)
98050
Row(code=98050)
99139
Row(code=99139)
98324
Row(code=98324)
98596
Row(code=98596)
98384
Row(code=98384)
98145
Row(code=98145)
99129
Row(code=99129)
99123
Row(code=99123)
99171
Row(code=99171)
98350
Row(code=98350)
98408
Row(code=98408)
98132
Row(code=98132)
98206
Row(code=98206)
98343
Row(code=98343)
99119
Row(code=99119)
98063
Row(code=98063)
99323
Row(code=99323)
98240
Row(code=98240)
99136
Row(code=99136)
98071
Row(code=98071)
99347
Row(code=99347)
98929
Row(code=98929)
98174
Row(code=98174)
98450
Row(code=98450)
99018
Row(code=99018)
99155
Row(code=99155)
98509
Row(code=98509)
98539
Row(code=98539)
99363
Row(code=99363)
99138
Row(code=99138)
98568
Row(code=98568)
98165
Row(code=98165)
98083
Row(code=98083)
98377
Row(code=98377)
98674
Row(code=98674)
98320
Row(code=98320)
98639
Row(code=98639)
98392
Row(code=98392)
98045
Row(code=98045)
99299
Row(code=99299)
98331
Row(code=98331)
98516
Row(code=98516)
98471
Row(code=98471)
98571
Row(code=98571)
98358
Row(code=98358)
98826
Row(code=98826)
98588
Row(code=98588)
98043
Row(code=98043)
99006
Row(code=99006)
98158
Row(code=98158)
98583
Row(code=98583)
98220
Row(code=98220)
98662
Row(code=98662)
98561
Row(code=98561)
98373
Row(code=98373)
98490
Row(code=98490)
98671
Row(code=98671)
98522
Row(code=98522)
98643
Row(code=98643)
98367
Row(code=98367)
98383
Row(code=98383)
98249
Row(code=98249)
98223
Row(code=98223)
98021
Row(code=98021)
98039
Row(code=98039)
98497
Row(code=98497)
98199
Row(code=98199)
98031
Row(code=98031)
98642
Row(code=98642)
98587
Row(code=98587)
99350
Row(code=99350)
98146
Row(code=98146)
98418
Row(code=98418)
99403
Row(code=99403)
98407
Row(code=98407)
98065
Row(code=98065)
98493
Row(code=98493)
99218
Row(code=99218)
98444
Row(code=98444)
98336
Row(code=98336)
98605
Row(code=98605)
98008
Row(code=98008)
98944
Row(code=98944)
98175
Row(code=98175)
99131
Row(code=99131)
98647
Row(code=98647)
98512
Row(code=98512)
99036
Row(code=99036)
98496
Row(code=98496)
98415
Row(code=98415)
98590
Row(code=98590)
98629
Row(code=98629)
98256
Row(code=98256)
98933
Row(code=98933)
99357
Row(code=99357)
99349
Row(code=99349)
99337
Row(code=99337)
98631
Row(code=98631)
99160
Row(code=99160)
98431
Row(code=98431)
99159
Row(code=99159)
99211
Row(code=99211)
98504
Row(code=98504)
98406
Row(code=98406)
98274
Row(code=98274)
98953
Row(code=98953)
99165
Row(code=99165)
98597
Row(code=98597)
98337
Row(code=98337)
99154
Row(code=99154)
98637
Row(code=98637)
98555
Row(code=98555)
99122
Row(code=99122)
98908
Row(code=98908)
98562
Row(code=98562)
98359
Row(code=98359)
99025
Row(code=99025)
98387
Row(code=98387)
98648
Row(code=98648)
99114
Row(code=99114)
99320
Row(code=99320)
98661
Row(code=98661)
98502
Row(code=98502)
98273
Row(code=98273)
98644
Row(code=98644)
98333
Row(code=98333)
98841
Row(code=98841)
99258
Row(code=99258)
99102
Row(code=99102)
98264
Row(code=98264)
98935
Row(code=98935)
98134
Row(code=98134)
99146
Row(code=99146)
99206
Row(code=99206)
98201
Row(code=98201)
98396
Row(code=98396)
98010
Row(code=98010)
98101
Row(code=98101)
98028
Row(code=98028)
98113
Row(code=98113)
98188
Row(code=98188)
98207
Row(code=98207)
98507
Row(code=98507)
98356
Row(code=98356)
98465
Row(code=98465)
98937
Row(code=98937)
98190
Row(code=98190)
98161
Row(code=98161)
99104
Row(code=99104)
99156
Row(code=99156)
98168
Row(code=98168)
98093
Row(code=98093)
98575
Row(code=98575)
98024
Row(code=98024)
98569
Row(code=98569)
98481
Row(code=98481)
98259
Row(code=98259)
98166
Row(code=98166)
98237
Row(code=98237)
98231

Row(code=98231)
98121
Row(code=98121)
98547
Row(code=98547)
98033
Row(code=98033)
98001
Row(code=98001)
98052
Row(code=98052)
98244
Row(code=98244)
98103
Row(code=98103)
98122
Row(code=98122)
98802
Row(code=98802)
98650
Row(code=98650)
98375
Row(code=98375)
98155
Row(code=98155)
98586
Row(code=98586)
98326
Row(code=98326)
98942
Row(code=98942)
98354
Row(code=98354)
98077
Row(code=98077)
98589
Row(code=98589)
99157
Row(code=99157)
98837
Row(code=98837)
98294
Row(code=98294)
99111
Row(code=99111)
98526
Row(code=98526)
98075
Row(code=98075)
98506
Row(code=98506)
98524
Row(code=98524)
98822
Row(code=98822)
98686
Row(code=98686)
98372
Row(code=98372)
98303
Row(code=98303)
98002
Row(code=98002)
98115
Row(code=98115)
98847
Row(code=98847)
98665
Row(code=98665)
99207
Row(code=99207)
98283
Row(code=98283)
98831
Row(code=98831)
98684
Row(code=98684)
98584
Row(code=98584)
99019
Row(code=99019)
98365
Row(code=98365)
99324
Row(code=99324)
98203
Row(code=98203)
98037
Row(code=98037)
98402
Row(code=98402)
98208
Row(code=98208)
99016
Row(code=99016)
98672
Row(code=98672)
98445
Row(code=98445)
98004
Row(code=98004)
98177
Row(code=98177)
99037
Row(code=99037)
98554
Row(code=98554)
98092
Row(code=98092)
99208
Row(code=99208)
98380
Row(code=98380)
98404
Row(code=98404)
98112
Row(code=98112)
98312
Row(code=98312)
98068
Row(code=98068)
98027
Row(code=98027)
98236
Row(code=98236)
98178
Row(code=98178)
98531
Row(code=98531)
98257
Row(code=98257)
98007
Row(code=98007)
98366
Row(code=98366)
98284
Row(code=98284)
98607
Row(code=98607)
98370
Row(code=98370)
98032
Row(code=98032)
98266
Row(code=98266)
98272
Row(code=98272)
98683
Row(code=98683)
99362
Row(code=99362)
98221
Row(code=98221)
98023
Row(code=98023)
98361
Row(code=98361)
98104
Row(code=98104)
98026
Row(code=98026)
98371
Row(code=98371)
98110
Row(code=98110)
98926
Row(code=98926)
98022
Row(code=98022)
98198
Row(code=98198)
98281
Row(code=98281)
98057
Row(code=98057)
98253
Row(code=98253)
98034
Row(code=98034)
98251
Row(code=98251)
98260
Row(code=98260)
98422
Row(code=98422)
98250
Row(code=98250)
98108
Row(code=98108)
99205
Row(code=99205)
98117
Row(code=98117)
98136
Row(code=98136)
98087
Row(code=98087)
98204
Row(code=98204)
98261
Row(code=98261)
98116
Row(code=98116)
98226
Row(code=98226)
98106
Row(code=98106)
98922
Row(code=98922)
99201
Row(code=99201)
98304
Row(code=98304)
98144
Row(code=98144)
98119
Row(code=98119)
99179
Row(code=99179)
98233
Row(code=98233)
99034
Row(code=99034)
98238
Row(code=98238)
98243
Row(code=98243)
98467
Row(code=98467)
99328
Row(code=99328)
98267
Row(code=98267)
98625
Row(code=98625)
98855
Row(code=98855)
99166
Row(code=99166)
99210
Row(code=99210)
98498
Row(code=98498)
98536
Row(code=98536)
98224
Row(code=98224)
99223
Row(code=99223)
98006
Row(code=98006)
98296
Row(code=98296)
99140
Row(code=99140)
98601
Row(code=98601)
99353
Row(code=99353)
98160
Row(code=98160)
98546
Row(code=98546)
98464
Row(code=98464)
98245
Row(code=98245)
98952
Row(code=98952)
98824
Row(code=98824)
99009
Row(code=99009)
98164
Row(code=98164)
98801
Row(code=98801)
98859
Row(code=98859)
98511
Row(code=98511)
98430
Row(code=98430)
98345
Row(code=98345)
98305
Row(code=98305)
98858
Row(code=98858)
98171
Row(code=98171)
98909
Row(code=98909)
99344
Row(code=99344)
98563
Row(code=98563)
98344
Row(code=98344)
99130
Row(code=99130)
98623
Row(code=98623)
98832
Row(code=98832)
99343
Row(code=99343)
99127
Row(code=99127)
98559
Row(code=98559)
98438
Row(code=98438)
99040
Row(code=99040)
98252
Row(code=98252)
98288
Row(code=98288)
98439
Row(code=98439)
98821
Row(code=98821)
98934
Row(code=98934)
98041
Row(code=98041)
98668
Row(code=98668)
98154
Row(code=98154)
98851
Row(code=98851)
98814
Row(code=98814)
99011
Row(code=99011)
99033
Row(code=99033)
98542
Row(code=98542)
98850
Row(code=98850)
98576
Row(code=98576)
98170
Row(code=98170)
98849
Row(code=98849)
98673
Row(code=98673)
98258
Row(code=98258)
98619
Row(code=98619)
98191
Row(code=98191)
98624
Row(code=98624)
98013
Row(code=98013)
98070
Row(code=98070)
98687
Row(code=98687)
98315
Row(code=98315)
98611
Row(code=98611)
98378
Row(code=98378)
99133
Row(code=99133)
99173
Row(code=99173)
99029
Row(code=99029)
98538
Row(code=98538)
99301
Row(code=99301)
98817
Row(code=98817)
98394
Row(code=98394)
98019
Row(code=98019)
98628
Row(code=98628)
98064
Row(code=98064)
98393
Row(code=98393)
98046
Row(code=98046)
98829
Row(code=98829)
98830
Row(code=98830)
98663
Row(code=98663)
98541
Row(code=98541)
98012
Row(code=98012)
98609
Row(code=98609)
99214
Row(code=99214)
98570
Row(code=98570)
98276
Row(code=98276)
98047
Row(code=98047)
98828
Row(code=98828)
98374
Row(code=98374)
98073
Row(code=98073)
98651
Row(code=98651)
99017
Row(code=99017)
98946
Row(code=98946)
98612
Row(code=98612)
98357
Row(code=98357)
98943
Row(code=98943)
98564
Row(code=98564)
99124
Row(code=99124)
98492
Row(code=98492)
98840
Row(code=98840)
98416
Row(code=98416)
98581
Row(code=98581)
98235
Row(code=98235)
98477
Row(code=98477)
98054
Row(code=98054)
98604
Row(code=98604)
98530
Row(code=98530)
98114
Row(code=98114)
98923
Row(code=98923)
98349
Row(code=98349)
98904
Row(code=98904)
98951
Row(code=98951)
99163
Row(code=99163)
99322
Row(code=99322)
99026
Row(code=99026)
98552
Row(code=98552)
99105
Row(code=99105)
99321
Row(code=99321)
99014
Row(code=99014)
98403
Row(code=98403)
99329
Row(code=99329)
99005
Row(code=99005)
98856
Row(code=98856)
99185
Row(code=99185)
98811
Row(code=98811)
99128
Row(code=99128)
99302
Row(code=99302)
99361
Row(code=99361)
98558
Row(code=98558)
98540
Row(code=98540)
98591
Row(code=98591)
99209
Row(code=99209)
99143
Row(code=99143)
98638
Row(code=98638)
99134
Row(code=99134)
98950
Row(code=98950)
98907
Row(code=98907)
98664
Row(code=98664)
98181
Row(code=98181)
99020
Row(code=99020)
98124
Row(code=98124)
98585
Row(code=98585)
99031
Row(code=99031)
99174
Row(code=99174)
99213
Row(code=99213)
98941
Row(code=98941)
98397
Row(code=98397)
99169
Row(code=99169)
98035
Row(code=98035)
98138
Row(code=98138)
98599
Row(code=98599)
99121
Row(code=99121)
99008
Row(code=99008)
98593
Row(code=98593)
98645
Row(code=98645)
98051
Row(code=98051)
98932
Row(code=98932)
98194
Row(code=98194)
98364
Row(code=98364)
98580
Row(code=98580)
98330
Row(code=98330)
99204
Row(code=99204)
99341
Row(code=99341)
99027
Row(code=99027)
98930
Row(code=98930)
98139
Row(code=98139)
98351
Row(code=98351)
98232
Row(code=98232)
98606
Row(code=98606)
99003
Row(code=99003)
98417
Row(code=98417)
98338
Row(code=98338)
98409
Row(code=98409)
98125
Row(code=98125)
99203
Row(code=99203)
98419
Row(code=98419)
98666
Row(code=98666)
99152
Row(code=99152)
98291
Row(code=98291)
98213
Row(code=98213)
98616
Row(code=98616)
98323
Row(code=98323)
99113
Row(code=99113)
98622
Row(code=98622)
98948
Row(code=98948)
98141
Row(code=98141)
99212
Row(code=99212)
98348
Row(code=98348)
98921
Row(code=98921)
98189
Row(code=98189)
99110
Row(code=99110)
98278
Row(code=98278)
98455
Row(code=98455)
98621
Row(code=98621)
99103
Row(code=99103)
98566
Row(code=98566)
98442
Row(code=98442)
99215
Row(code=99215)
98572
Row(code=98572)
98089
Row(code=98089)
99346
Row(code=99346)
98287
Row(code=98287)
98009
Row(code=98009)
98111
Row(code=98111)
98508
Row(code=98508)
99137
Row(code=99137)
99356
Row(code=99356)
99013
Row(code=99013)
99219
Row(code=99219)
98641
Row(code=98641)
98127
Row(code=98127)
99251
Row(code=99251)
99125
Row(code=99125)
99116
Row(code=99116)
98412
Row(code=98412)
99332
Row(code=99332)
98852
Row(code=98852)
98398
Row(code=98398)
98293
Row(code=98293)
98807
Row(code=98807)
99012
Row(code=99012)
99118
Row(code=99118)
98280
Row(code=98280)
99170
Row(code=99170)
98617
Row(code=98617)
98355
Row(code=98355)
98151
Row(code=98151)
99158
Row(code=99158)
98939
Row(code=98939)
99260
Row(code=99260)
98938
Row(code=98938)
98329
Row(code=98329)
98560
Row(code=98560)
98533
Row(code=98533)
98405
Row(code=98405)
99021
Row(code=99021)
98363
Row(code=98363)
98105
Row(code=98105)
98845
Row(code=98845)

In [194]:
final_poi = []
for i in trending_venues:
    try:
        if len(i[1]["venues"]) > 0:
            final_poi.append([i[0][0], len(i[1]["venues"])])
    except:
        print(i[0])

Row(code=98189)

In [196]:
poi_df = spark.createDataFrame(final_poi, ["zipcode", "poi_flag"])

In [198]:
final_zip_df_with_new_feats = food_trans_df.drop("values").join(night_rest_df.drop("values"), "zipcode", "outer").join(night_rest_df.drop("values"), "zipcode", "outer").join(poi_df, "zipcode", "outer")

In [200]:
final_zip_df_with_new_feats.toPandas().to_csv("final_zip_df_with_new_feats.csv")

In [203]:
zipcodes.join(final_zip_df_with_new_fea
              ts.withColumnRenamed("zipcode", "code"), "code", "outer").toPandas().to_csv("final_mainzipcodes_zip_df_with_new_feats.csv")

22/07/22 03:59:52 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 7209456 ms exceeds timeout 120000 ms
22/07/22 03:59:52 WARN SparkContext: Killing executors is not supported by current scheduler.

In [129]:
# Amandeus API not used
from amadeus import Client, ResponseError

amadeus = Client(client_id='IowQuuSkuK7XyfesMKWvqLs3PJfwsjWI',
    client_secret='k9QRflfVSK8iP1YA'
)
# 98068
# 47.431696,-121.374163
# 47.39198	-121.40122
try:
#     response = amadeus.shopping.flight_offers_search.get(
#         originLocationCode='MAD',
#         destinationLocationCode='ATH',
#         departureDate='2022-11-01',
#         adults=1)
    
    response = amadeus.reference_data.locations.points_of_interest.get(latitude=41.397158, longitude=2.160873)
    
    print(response.data)
except ResponseError as error:
    print(error)

[{'type': 'location', 'subType': 'POINT_OF_INTEREST', 'id': '9CB40CB5D0', 'self': {'href': 'https://test.api.amadeus.com/v1/reference-data/locations/pois/9CB40CB5D0', 'methods': ['GET']}, 'geoCode': {'latitude': 41.39165, 'longitude': 2.164772}, 'name': 'Casa Batlló', 'category': 'SIGHTS', 'rank': 5, 'tags': ['sightseeing', 'sights', 'museum', 'landmark', 'tourguide', 'restaurant', 'attraction', 'activities', 'commercialplace', 'shopping', 'souvenir']}, {'type': 'location', 'subType': 'POINT_OF_INTEREST', 'id': '4690B83DCA', 'self': {'href': 'https://test.api.amadeus.com/v1/reference-data/locations/pois/4690B83DCA', 'methods': ['GET']}, 'geoCode': {'latitude': 41.397987, 'longitude': 2.161159}, 'name': 'La Pepita', 'category': 'RESTAURANT', 'rank': 30, 'tags': ['restaurant', 'tapas', 'pub', 'bar', 'sightseeing', 'commercialplace']}, {'type': 'location', 'subType': 'POINT_OF_INTEREST', 'id': '3EF139D861', 'self': {'href': 'https://test.api.amadeus.com/v1/reference-data/locations/pois/3EF139D861', 'methods': ['GET']}, 'geoCode': {'latitude': 41.38827, 'longitude': 2.161604}, 'name': 'Brunch & Cake', 'category': 'RESTAURANT', 'rank': 30, 'tags': ['vegetarian', 'restaurant', 'breakfast', 'shopping', 'bakery', 'transport', 'patio', 'garden']}, {'type': 'location', 'subType': 'POINT_OF_INTEREST', 'id': 'AB3F122E3E', 'self': {'href': 'https://test.api.amadeus.com/v1/reference-data/locations/pois/AB3F122E3E', 'methods': ['GET']}, 'geoCode': {'latitude': 41.392376, 'longitude': 2.160919}, 'name': 'Cervecería Catalana', 'category': 'RESTAURANT', 'rank': 30, 'tags': ['restaurant', 'tapas', 'sightseeing', 'traditionalcuisine', 'bar', 'activities', 'commercialplace']}, {'type': 'location', 'subType': 'POINT_OF_INTEREST', 'id': '752402FCA2', 'self': {'href': 'https://test.api.amadeus.com/v1/reference-data/locations/pois/752402FCA2', 'methods': ['GET']}, 'geoCode': {'latitude': 41.40043, 'longitude': 2.15463}, 'name': 'Botafumeiro', 'category': 'RESTAURANT', 'rank': 30, 'tags': ['restaurant', 'seafood', 'sightseeing', 'professionalservices', 'transport', 'commercialplace']}, {'type': 'location', 'subType': 'POINT_OF_INTEREST', 'id': '5F1CED3994', 'self': {'href': 'https://test.api.amadeus.com/v1/reference-data/locations/pois/5F1CED3994', 'methods': ['GET']}, 'geoCode': {'latitude': 41.39148, 'longitude': 2.164981}, 'name': 'Casa Amatller', 'category': 'SIGHTS', 'rank': 100, 'tags': ['sightseeing', 'sights', 'museum', 'landmark', 'restaurant', 'tourguide', 'historicplace', 'historic', 'attraction', 'commercialplace', 'activities', 'shopping', 'events']}, {'type': 'location', 'subType': 'POINT_OF_INTEREST', 'id': '30601A1A90', 'self': {'href': 'https://test.api.amadeus.com/v1/reference-data/locations/pois/30601A1A90', 'methods': ['GET']}, 'geoCode': {'latitude': 41.390785, 'longitude': 2.167414}, 'name': 'Tapas 24', 'category': 'RESTAURANT', 'rank': 100, 'tags': ['restaurant', 'tapas', 'traditionalcuisine', 'sightseeing', 'commercialplace', 'transport', 'patio', 'garden', 'activities', 'bar']}, {'type': 'location', 'subType': 'POINT_OF_INTEREST', 'id': '15C8B8148C', 'self': {'href': 'https://test.api.amadeus.com/v1/reference-data/locations/pois/15C8B8148C', 'methods': ['GET']}, 'geoCode': {'latitude': 41.392677, 'longitude': 2.153942}, 'name': 'Dry Martini', 'category': 'NIGHTLIFE', 'rank': 100, 'tags': ['bar', 'restaurant', 'nightlife', 'club', 'sightseeing', 'attraction', 'activities']}, {'type': 'location', 'subType': 'POINT_OF_INTEREST', 'id': 'BD29CF2CCD', 'self': {'href': 'https://test.api.amadeus.com/v1/reference-data/locations/pois/BD29CF2CCD', 'methods': ['GET']}, 'geoCode': {'latitude': 41.399193, 'longitude': 2.159853}, 'name': 'Con Gracia', 'category': 'RESTAURANT', 'rank': 100, 'tags': ['restaurant', 'sightseeing', 'commercialplace', 'professionalservices', 'activities']}, {'type': 'location', 'subType': 'POINT_OF_INTEREST', 'id': '24DE6CE737', 'self': {'href': 'https://test.api.amadeus.com/v1/reference-data/locations/pois/24DE6CE737', 'methods': ['GET']}, 'geoCode': {'latitude': 41.390198, 'longitude': 2.156974}, 'name': 'Osmosis', 'category': 'RESTAURANT', 'rank': 100, 'tags': ['restaurant', 'shopping', 'transport', 'professionalservices']}]

In [132]:
amadeus.safety.safety_rated_locations.get(latitude=41.397158, longitude=2.160873, radius = 20)

In [133]:
response.data

[{'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'id': '9CB40CB5D0',
  'self': {'href': 'https://test.api.amadeus.com/v1/reference-data/locations/pois/9CB40CB5D0',
   'methods': ['GET']},
  'geoCode': {'latitude': 41.39165, 'longitude': 2.164772},
  'name': 'Casa Batlló',
  'category': 'SIGHTS',
  'rank': 5,
  'tags': ['sightseeing',
   'sights',
   'museum',
   'landmark',
   'tourguide',
   'restaurant',
   'attraction',
   'activities',
   'commercialplace',
   'shopping',
   'souvenir']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'id': '4690B83DCA',
  'self': {'href': 'https://test.api.amadeus.com/v1/reference-data/locations/pois/4690B83DCA',
   'methods': ['GET']},
  'geoCode': {'latitude': 41.397987, 'longitude': 2.161159},
  'name': 'La Pepita',
  'category': 'RESTAURANT',
  'rank': 30,
  'tags': ['restaurant',
   'tapas',
   'pub',
   'bar',
   'sightseeing',
   'commercialplace']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'id': '3EF139D861',
  'self': {'href': 'https://test.api.amadeus.com/v1/reference-data/locations/pois/3EF139D861',
   'methods': ['GET']},
  'geoCode': {'latitude': 41.38827, 'longitude': 2.161604},
  'name': 'Brunch & Cake',
  'category': 'RESTAURANT',
  'rank': 30,
  'tags': ['vegetarian',
   'restaurant',
   'breakfast',
   'shopping',
   'bakery',
   'transport',
   'patio',
   'garden']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'id': 'AB3F122E3E',
  'self': {'href': 'https://test.api.amadeus.com/v1/reference-data/locations/pois/AB3F122E3E',
   'methods': ['GET']},
  'geoCode': {'latitude': 41.392376, 'longitude': 2.160919},
  'name': 'Cervecería Catalana',
  'category': 'RESTAURANT',
  'rank': 30,
  'tags': ['restaurant',
   'tapas',
   'sightseeing',
   'traditionalcuisine',
   'bar',
   'activities',
   'commercialplace']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'id': '752402FCA2',
  'self': {'href': 'https://test.api.amadeus.com/v1/reference-data/locations/pois/752402FCA2',
   'methods': ['GET']},
  'geoCode': {'latitude': 41.40043, 'longitude': 2.15463},
  'name': 'Botafumeiro',
  'category': 'RESTAURANT',
  'rank': 30,
  'tags': ['restaurant',
   'seafood',
   'sightseeing',
   'professionalservices',
   'transport',
   'commercialplace']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'id': '5F1CED3994',
  'self': {'href': 'https://test.api.amadeus.com/v1/reference-data/locations/pois/5F1CED3994',
   'methods': ['GET']},
  'geoCode': {'latitude': 41.39148, 'longitude': 2.164981},
  'name': 'Casa Amatller',
  'category': 'SIGHTS',
  'rank': 100,
  'tags': ['sightseeing',
   'sights',
   'museum',
   'landmark',
   'restaurant',
   'tourguide',
   'historicplace',
   'historic',
   'attraction',
   'commercialplace',
   'activities',
   'shopping',
   'events']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'id': '30601A1A90',
  'self': {'href': 'https://test.api.amadeus.com/v1/reference-data/locations/pois/30601A1A90',
   'methods': ['GET']},
  'geoCode': {'latitude': 41.390785, 'longitude': 2.167414},
  'name': 'Tapas 24',
  'category': 'RESTAURANT',
  'rank': 100,
  'tags': ['restaurant',
   'tapas',
   'traditionalcuisine',
   'sightseeing',
   'commercialplace',
   'transport',
   'patio',
   'garden',
   'activities',
   'bar']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'id': '15C8B8148C',
  'self': {'href': 'https://test.api.amadeus.com/v1/reference-data/locations/pois/15C8B8148C',
   'methods': ['GET']},
  'geoCode': {'latitude': 41.392677, 'longitude': 2.153942},
  'name': 'Dry Martini',
  'category': 'NIGHTLIFE',
  'rank': 100,
  'tags': ['bar',
   'restaurant',
   'nightlife',
   'club',
   'sightseeing',
   'attraction',
   'activities']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'id': 'BD29CF2CCD',
  'self': {'href': 'https://test.api.amadeus.com/v1/reference-data/locations/pois/BD29CF2CCD',
   'methods': ['GET']},
  'geoCode': {'latitude': 41.399193, 'longitude': 2.159853},
  'name': 'Con Gracia',
  'category': 'RESTAURANT',
  'rank': 100,
  'tags': ['restaurant',
   'sightseeing',
   'commercialplace',
   'professionalservices',
   'activities']},
 {'type': 'location',
  'subType': 'POINT_OF_INTEREST',
  'id': '24DE6CE737',
  'self': {'href': 'https://test.api.amadeus.com/v1/reference-data/locations/pois/24DE6CE737',
   'methods': ['GET']},
  'geoCode': {'latitude': 41.390198, 'longitude': 2.156974},
  'name': 'Osmosis',
  'category': 'RESTAURANT',
  'rank': 100,
  'tags': ['restaurant', 'shopping', 'transport', 'professionalservices']}]

In [136]:
zipcodes_long_lat = zipcodes.select("lat", "lon", "code").collect()

In [139]:
# amadeus API havent used this
final_info = []
for i in zipcodes_long_lat:
    try:

        response = amadeus.reference_data.locations.points_of_interest.get(latitude=i[0], longitude=i[1])
        final_info.append([i[0], i[1], response.data])
        print(response.data)
    except ResponseError as error:
        print("ii", i, i[2])
        print(error)

ii Row(lat=48.124594, lon=-117.762554, code=99181) 99181
[400]

ii Row(lat=47.737206, lon=-119.227032, code=99115) 99115
[400]

ii Row(lat=47.254021, lon=-122.400133, code=98421) 98421
[400]

ii Row(lat=47.432251, lon=-121.803388, code=98015) 98015
[400]

ii Row(lat=48.713022, lon=-122.67647, code=98262) 98262
[400]

ii Row(lat=47.2, lon=-122.48, code=98448) 98448
[400]

ii Row(lat=47.6329, lon=-120.348064, code=98815) 98815
[400]

ii Row(lat=45.810317, lon=-121.302305, code=98670) 98670
[400]

ii Row(lat=47.336838, lon=-123.074952, code=98592) 98592
[400]

ii Row(lat=46.828931, lon=-118.829153, code=99327) 99327
[400]

ii Row(lat=48.610644, lon=-122.921551, code=98222) 98222
[400]

ii Row(lat=48.892514, lon=-119.721016, code=98827) 98827
[429]

ii Row(lat=47.432251, lon=-121.803388, code=98129) 98129
[400]

ii Row(lat=46.263023, lon=-123.933161, code=98614) 98614
[400]

ii Row(lat=47.404308, lon=-119.312977, code=98853) 98853
[400]

ii Row(lat=47.432251, lon=-121.803388, code=98148) 98148
[400]

ii Row(lat=47.329704, lon=-117.244981, code=99039) 99039
[400]

ii Row(lat=47.132671, lon=-122.331781, code=98388) 98388
[400]

ii Row(lat=47.73051, lon=-120.045781, code=98843) 98843
[400]

ii Row(lat=47.56025, lon=-122.228083, code=98040) 98040
[400]

ii Row(lat=47.432251, lon=-121.803388, code=98107) 98107
[400]

ii Row(lat=46.134445, lon=-118.461436, code=99360) 99360
[400]

ii Row(lat=48.365236, lon=-119.829391, code=98812) 98812
[400]

ii Row(lat=47.266017, lon=-122.832799, code=98395) 98395
[400]

ii Row(lat=46.512828, lon=-118.10237, code=99359) 99359
[400]

ii Row(lat=48.695338, lon=-117.966943, code=99141) 99141
[400]

ii Row(lat=48.619527, lon=-120.457954, code=98833) 98833
[400]

ii Row(lat=46.147274, lon=-122.825047, code=98626) 98626
[400]

ii Row(lat=47.868952, lon=-122.557486, code=98340) 98340
[400]

ii Row(lat=47.653568, lon=-117.431742, code=99228) 99228
[400]

ii Row(lat=45.999338, lon=-122.442472, code=98603) 98603
[400]

ii Row(lat=47.606478, lon=-122.634712, code=98310) 98310
[429]

ii Row(lat=47.485197, lon=-120.415773, code=98836) 98836
[400]

ii Row(lat=47.026418, lon=-122.796695, code=98503) 98503
[400]

ii Row(lat=48.049576, lon=-122.161951, code=98270) 98270
[400]

ii Row(lat=47.232513, lon=-122.359432, code=98424) 98424
[400]

ii Row(lat=47.002735, lon=-123.67129, code=98520) 98520
[400]

ii Row(lat=47.661862, lon=-121.927236, code=98014) 98014
[429]

ii Row(lat=45.74327, lon=-122.713366, code=98660) 98660
[400]

ii Row(lat=47.627129, lon=-122.637276, code=98311) 98311
[400]

ii Row(lat=48.293181, lon=-117.739245, code=99109) 99109
[400]

ii Row(lat=48.336378, lon=-117.957926, code=99101) 99101
[400]

ii Row(lat=47.565587, lon=-122.025754, code=98029) 98029
[400]

ii Row(lat=47.954558, lon=-122.014722, code=98290) 98290
[400]

ii Row(lat=47.177565, lon=-119.401958, code=98823) 98823
[400]

ii Row(lat=46.420138, lon=-120.29712, code=98902) 98902
[400]

ii Row(lat=45.840666, lon=-120.768762, code=98620) 98620
[400]

ii Row(lat=46.181872, lon=-123.057597, code=98632) 98632
[400]

ii Row(lat=47.648626, lon=-122.02106, code=98053) 98053
[400]

ii Row(lat=47.243075, lon=-122.53936, code=98466) 98466
[400]

ii Row(lat=47.750689, lon=-122.214376, code=98011) 98011
[400]

ii Row(lat=48.079149, lon=-122.234168, code=98271) 98271
[400]

ii Row(lat=47.149086, lon=-124.139665, code=98535) 98535
[400]

ii Row(lat=47.090904, lon=-122.656691, code=98327) 98327
[400]

ii Row(lat=46.615653, lon=-123.024845, code=98532) 98532
[400]

ii Row(lat=45.754637, lon=-122.696001, code=98685) 98685
[400]

ii Row(lat=48.319858, lon=-122.629353, code=98277) 98277
[400]

ii Row(lat=48.861113, lon=-122.608561, code=98248) 98248
[400]

ii Row(lat=47.432251, lon=-121.803388, code=98133) 98133
[400]

ii Row(lat=48.681342, lon=-119.579107, code=98844) 98844
[400]

ii Row(lat=47.806068, lon=-122.372401, code=98020) 98020
[400]

ii Row(lat=47.432465, lon=-122.928877, code=98528) 98528
[400]

ii Row(lat=47.409304, lon=-121.969445, code=98038) 98038
[400]

ii Row(lat=46.495565, lon=-124.040389, code=98640) 98640
[400]

ii Row(lat=47.955331, lon=-122.791259, code=98339) 98339
[400]

ii Row(lat=47.912402, lon=-122.302114, code=98275) 98275
[400]

ii Row(lat=47.101202, lon=-123.731611, code=98550) 98550
[400]

ii Row(lat=47.671164, lon=-117.19926, code=99216) 99216
[400]

ii Row(lat=45.678782, lon=-122.478845, code=98682) 98682
[400]

ii Row(lat=46.644476, lon=-120.725557, code=98901) 98901
[400]

ii Row(lat=48.500635, lon=-120.372447, code=98862) 98862
[400]

ii Row(lat=47.432927, lon=-122.117999, code=98058) 98058
[400]

ii Row(lat=47.6067, lon=-117.500285, code=99004) 99004
[400]

ii Row(lat=47.128485, lon=-122.373631, code=98446) 98446
[400]

ii Row(lat=47.613475, lon=-117.515897, code=99202) 99202
[400]

ii Row(lat=47.834483, lon=-122.547078, code=98346) 98346
[400]

ii Row(lat=46.904844, lon=-122.30141, code=98328) 98328
[400]

ii Row(lat=48.740671, lon=-117.972888, code=99126) 99126
[400]

ii Row(lat=46.984767, lon=-122.869079, code=98501) 98501
[400]

ii Row(lat=46.993897, lon=-122.743016, code=98513) 98513
[400]

ii Row(lat=47.152347, lon=-122.079177, code=98321) 98321
[400]

ii Row(lat=47.029716, lon=-123.272999, code=98557) 98557
[400]

ii Row(lat=45.824611, lon=-122.498993, code=98675) 98675
[429]

ii Row(lat=46.282031, lon=-119.491659, code=99352) 99352
[400]

ii Row(lat=48.904384, lon=-122.321834, code=98247) 98247
[400]

ii Row(lat=46.174099, lon=-117.118489, code=99402) 99402
[400]

ii Row(lat=47.16772, lon=-122.50236, code=98499) 98499
[400]

ii Row(lat=46.544506, lon=-120.744393, code=98903) 98903
[400]

ii Row(lat=47.065404, lon=-122.976187, code=98505) 98505
[400]

ii Row(lat=46.155994, lon=-119.263991, code=99338) 99338
[400]

ii Row(lat=46.212306, lon=-119.155671, code=99336) 99336
[400]

ii Row(lat=48.747687, lon=-122.454297, code=98225) 98225
[400]

ii Row(lat=48.018572, lon=-122.849683, code=98368) 98368
[400]

ii Row(lat=47.583868, lon=-122.052333, code=98109) 98109
[429]

ii Row(lat=47.232953, lon=-121.177187, code=98925) 98925
[400]

ii Row(lat=47.446972, lon=-123.198634, code=98548) 98548
[400]

ii Row(lat=48.557824, lon=-122.983742, code=98279) 98279
[400]

ii Row(lat=47.62, lon=-122.04, code=98074) 98074
[400]

ii Row(lat=48.239542, lon=-121.589209, code=98241) 98241
[400]

ii Row(lat=47.628858, lon=-117.551291, code=99224) 99224
[400]

ii Row(lat=47.363745, lon=-122.603703, code=98332) 98332
[400]

ii Row(lat=48.080148, lon=-122.1064, code=98292) 98292
[400]

ii Row(lat=47.740741, lon=-122.090874, code=98072) 98072
[400]

ii Row(lat=47.432251, lon=-121.803388, code=98126) 98126
[400]

ii Row(lat=47.293619, lon=-122.623504, code=98335) 98335
[400]

ii Row(lat=47.432251, lon=-121.803388, code=98003) 98003
[400]

ii Row(lat=47.12196, lon=-117.433708, code=99176) 99176
[400]

ii Row(lat=48.051108, lon=-123.360411, code=98362) 98362
[400]

ii Row(lat=47.353456, lon=-122.091718, code=98042) 98042
[400]

ii Row(lat=47.176966, lon=-122.15982, code=98390) 98390
[400]

ii Row(lat=47.804869, lon=-122.285481, code=98036) 98036
[400]

ii Row(lat=47.828495, lon=-122.838769, code=98376) 98376
[400]

ii Row(lat=47.514671, lon=-122.186447, code=98056) 98056
[400]

ii Row(lat=47.485348, lon=-122.02967, code=98055) 98055
[400]

ii Row(lat=47.620471, lon=-122.178883, code=98005) 98005
[400]

ii Row(lat=48.288633, lon=-124.397803, code=98381) 98381
[400]

ii Row(lat=48.18, lon=-122.47, code=98282) 98282
[400]

ii Row(lat=46.894327, lon=-123.965158, code=98595) 98595
[400]

ii Row(lat=47.250307, lon=-121.045575, code=98940) 98940
[400]

ii Row(lat=47.615007, lon=-117.703977, code=99022) 99022
[400]

ii Row(lat=48.935767, lon=-122.366448, code=98230) 98230
[400]

ii Row(lat=48.1894, lon=-122.66765, code=98239) 98239
[400]

ii Row(lat=47.505822, lon=-122.115699, code=98059) 98059
[400]

ii Row(lat=48.731121, lon=-117.339995, code=99153) 99153
[400]

ii Row(lat=47.753544, lon=-122.566561, code=98342) 98342
[400]

ii Row(lat=47.006578, lon=-122.118676, code=98360) 98360
[400]

ii Row(lat=45.738205, lon=-120.993902, code=98613) 98613
[400]

ii Row(lat=46.902376, lon=-123.017043, code=98556) 98556
[400]

ii Row(lat=46.815306, lon=-118.338081, code=99371) 99371
[400]

ii Row(lat=47.432251, lon=-121.803388, code=98102) 98102
[400]

ii Row(lat=47.299844, lon=-117.977732, code=99032) 99032
[400]

ii Row(lat=47.432251, lon=-121.803388, code=98062) 98062
[400]

ii Row(lat=48.139518, lon=-120.046348, code=98834) 98834
[400]

ii Row(lat=47.653568, lon=-117.431742, code=99220) 99220
[400]

ii Row(lat=48.814753, lon=-121.988548, code=98227) 98227
[400]

ii Row(lat=48.786802, lon=-117.924021, code=99151) 99151
[400]

ii Row(lat=47.432251, lon=-121.803388, code=98184) 98184
[400]

ii Row(lat=46.579281, lon=-122.909666, code=98565) 98565
[400]

ii Row(lat=47.680763, lon=-122.576199, code=98061) 98061
[400]

ii Row(lat=47.591564, lon=-122.056013, code=98025) 98025
[400]

ii Row(lat=47.51037, lon=-122.499139, code=98386) 98386
[400]

ii Row(lat=47.182173, lon=-119.754143, code=98848) 98848
[400]

ii Row(lat=47.557733, lon=-117.183637, code=99023) 99023
[400]

ii Row(lat=46.637057, lon=-123.884996, code=98527) 98527
[400]

ii Row(lat=47.432251, lon=-121.803388, code=98131) 98131
[400]

ii Row(lat=47.735893, lon=-119.891998, code=98813) 98813
[400]

ii Row(lat=47.207371, lon=-122.373466, code=98443) 98443
[400]

ii Row(lat=46.838747, lon=-117.644337, code=99333) 99333
[400]

ii Row(lat=47.653568, lon=-117.431742, code=99252) 99252
[400]

ii Row(lat=48.06773, lon=-123.080362, code=98382) 98382
[400]

ii Row(lat=46.354972, lon=-118.455541, code=99348) 99348
[400]

ii Row(lat=47.60894, lon=-118.399551, code=99147) 99147
[400]

ii Row(lat=46.334539, lon=-122.647324, code=98649) 98649
[400]

ii Row(lat=46.653496, lon=-123.657572, code=98577) 98577
[400]

ii Row(lat=47.643803, lon=-117.59205, code=99001) 99001
[400]

ii Row(lat=45.784205, lon=-121.841736, code=98610) 98610
[400]

ii Row(lat=46.770141, lon=-117.157476, code=99161) 99161
[400]

ii Row(lat=47.611505, lon=-119.084131, code=99135) 99135
[400]

ii Row(lat=47.126735, lon=-122.491749, code=98433) 98433
[400]

ii Row(lat=47.559317, lon=-122.64915, code=98314) 98314
[400]

ii Row(lat=47.432251, lon=-121.803388, code=98185) 98185
[400]

ii Row(lat=45.822789, lon=-121.213705, code=98635) 98635
[400]

ii Row(lat=47.253671, lon=-122.444335, code=98401) 98401
[400]

ii Row(lat=47.432251, lon=-121.803388, code=98195) 98195
[400]

ii Row(lat=47.60894, lon=-118.399551, code=99144) 99144
[400]

ii Row(lat=47.473874, lon=-119.18473, code=98860) 98860
[400]

ii Row(lat=48.557824, lon=-122.983742, code=98297) 98297
[400]

ii Row(lat=47.687971, lon=-122.729304, code=98322) 98322
[400]

ii Row(lat=47.066193, lon=-122.113223, code=98447) 98447
[400]

ii Row(lat=46.838747, lon=-117.644337, code=99164) 99164
[400]

ii Row(lat=47.066193, lon=-122.113223, code=98413) 98413
[400]

ii Row(lat=45.801586, lon=-122.520347, code=98667) 98667
[400]

ii Row(lat=46.56451, lon=-120.694658, code=98920) 98920
[400]

ii Row(lat=46.734909, lon=-123.02536, code=98544) 98544
[400]

ii Row(lat=47.644181, lon=-118.450679, code=99117) 99117
[400]

ii Row(lat=47.953523, lon=-122.123325, code=98205) 98205
[400]

ii Row(lat=48.814753, lon=-121.988548, code=98228) 98228
[400]

ii Row(lat=47.595155, lon=-122.622513, code=98353) 98353
[400]

ii Row(lat=46.514633, lon=-122.648072, code=98582) 98582
[400]

ii Row(lat=47.653568, lon=-117.431742, code=99256) 99256
[400]

ii Row(lat=47.066193, lon=-122.113223, code=98352) 98352
[400]

ii Row(lat=47.432251, lon=-121.803388, code=98082) 98082
[400]

ii Row(lat=47.876985, lon=-120.07775, code=98816) 98816
[400]

ii Row(lat=47.066193, lon=-122.113223, code=98411) 98411
[400]

ii Row(lat=46.410236, lon=-120.233518, code=98936) 98936
[400]

ii Row(lat=46.878164, lon=-123.64539, code=98537) 98537
[400]

ii Row(lat=48.107165, lon=-117.627815, code=99148) 99148
[400]

ii Row(lat=48.25013, lon=-117.353111, code=99180) 99180
[400]

ii Row(lat=46.677852, lon=-118.53374, code=99335) 99335
[400]

ii Row(lat=46.590118, lon=-118.897786, code=99326) 99326
[400]

ii Row(lat=47.737957, lon=-117.25569, code=99217) 99217
[400]

ii Row(lat=48.411234, lon=-119.742154, code=98846) 98846
[400]

ii Row(lat=48.42424, lon=-118.100693, code=99167) 99167
[400]

ii Row(lat=47.915272, lon=-122.815701, code=98325) 98325
[400]

ii Row(lat=45.850437, lon=-121.312852, code=98602) 98602
[400]

ii Row(lat=46.508917, lon=-118.992619, code=99330) 99330
[400]

ii Row(lat=47.066193, lon=-122.113223, code=98460) 98460
[400]

ii Row(lat=48.84269, lon=-118.182764, code=99107) 99107
[400]

ii Row(lat=48.810999, lon=-118.604355, code=99150) 99150
[400]

ii Row(lat=47.653568, lon=-117.431742, code=99015) 99015
[400]

ii Row(lat=47.138271, lon=-122.096799, code=98385) 98385
[400]

ii Row(lat=48.525461, lon=-121.9887, code=98255) 98255
[400]

ii Row(lat=46.832816, lon=-123.05927, code=98579) 98579
[400]

ii Row(lat=47.432251, lon=-121.803388, code=98118) 98118
[400]

ii Row(lat=48.546905, lon=-119.75262, code=98819) 98819
[400]

ii Row(lat=47.672177, lon=-117.255465, code=99030) 99030
[400]

ii Row(lat=46.740371, lon=-120.693103, code=98947) 98947
[400]

ii Row(lat=48.953377, lon=-122.19886, code=98295) 98295
[400]

ii Row(lat=48.557824, lon=-122.983742, code=98286) 98286
[400]

ii Row(lat=48.534462, lon=-122.058644, code=98263) 98263
[400]

ii Row(lat=47.0101, lon=-117.476605, code=99149) 99149
[400]

ii Row(lat=46.121593, lon=-117.17858, code=99401) 99401
[400]

ii Row(lat=47.013759, lon=-119.087915, code=98857) 98857
[400]

ii Row(lat=45.859058, lon=-119.857639, code=99345) 99345
[400]

ii Row(lat=47.536015, lon=-121.931195, code=98050) 98050
[400]

ii Row(lat=48.737714, lon=-117.36469, code=99139) 99139
[429]

ii Row(lat=48.18315, lon=-123.872972, code=98324) 98324
[400]

ii Row(lat=46.490874, lon=-122.879917, code=98596) 98596
[400]

ii Row(lat=47.521803, lon=-122.539637, code=98384) 98384
[400]

ii Row(lat=47.432251, lon=-121.803388, code=98145) 98145
[400]

ii Row(lat=48.005075, lon=-118.228564, code=99129) 99129
[400]

ii Row(lat=47.913065, lon=-119.042562, code=99123) 99123
[400]

ii Row(lat=47.123718, lon=-117.676432, code=99171) 99171
[400]

ii Row(lat=47.905203, lon=-124.62608, code=98350) 98350
[400]

ii Row(lat=47.206871, lon=-122.448534, code=98408) 98408
[400]

ii Row(lat=47.432251, lon=-121.803388, code=98132) 98132
[400]

ii Row(lat=47.859918, lon=-122.284785, code=98206) 98206
[400]

ii Row(lat=48.18315, lon=-123.872972, code=98343) 98343
[400]

ii Row(lat=48.510409, lon=-117.348383, code=99119) 99119
[400]

ii Row(lat=47.432251, lon=-121.803388, code=98063) 98063
[400]

ii Row(lat=46.196597, lon=-118.901678, code=99323) 99323
[400]

ii Row(lat=48.941068, lon=-122.625235, code=98240) 98240
[400]

ii Row(lat=46.697296, lon=-117.941665, code=99136) 99136
[400]

ii Row(lat=47.432251, lon=-121.803388, code=98071) 98071
[400]

ii Row(lat=46.475341, lon=-117.537763, code=99347) 99347
[400]

ii Row(lat=46.915735, lon=-121.241591, code=98929) 98929
[400]

ii Row(lat=47.432251, lon=-121.803388, code=98174) 98174
[400]

ii Row(lat=47.066193, lon=-122.113223, code=98450) 98450
[400]

ii Row(lat=47.299889, lon=-117.139491, code=99018) 99018
[400]

ii Row(lat=48.143441, lon=-119.00938, code=99155) 99155
[400]

ii Row(lat=46.978118, lon=-122.702393, code=98509) 98509
[400]

ii Row(lat=46.637834, lon=-123.280421, code=98539) 98539
[400]

ii Row(lat=46.084584, lon=-118.906079, code=99363) 99363
[400]

ii Row(lat=48.268566, lon=-118.305461, code=99138) 99138
[400]

ii Row(lat=46.866084, lon=-123.283859, code=98568) 98568
[400]

ii Row(lat=47.6, lon=-122.33, code=98165) 98165
[400]

ii Row(lat=47.432251, lon=-121.803388, code=98083) 98083
[400]

ii Row(lat=46.516754, lon=-121.894411, code=98377) 98377
[400]

ii Row(lat=45.937521, lon=-122.686548, code=98674) 98674
[400]

ii Row(lat=47.698291, lon=-122.943809, code=98320) 98320
[400]

ii Row(lat=45.641704, lon=-122.005783, code=98639) 98639
[400]

ii Row(lat=47.732624, lon=-122.564557, code=98392) 98392
[400]

ii Row(lat=47.467224, lon=-121.687506, code=98045) 98045
[400]

ii Row(lat=47.653568, lon=-117.431742, code=99299) 99299
[400]

ii Row(lat=47.976301, lon=-124.369332, code=98331) 98331
[400]

ii Row(lat=47.112575, lon=-122.779419, code=98516) 98516
[400]

ii Row(lat=47.066193, lon=-122.113223, code=98471) 98471
[400]

ii Row(lat=47.219468, lon=-124.191502, code=98571) 98571
[400]

ii Row(lat=48.057776, lon=-122.691213, code=98358) 98358
[400]

ii Row(lat=47.695101, lon=-120.799413, code=98826) 98826
[400]

ii Row(lat=47.434953, lon=-123.096769, code=98588) 98588
[400]

ii Row(lat=47.793269, lon=-122.30764, code=98043) 98043
[400]

ii Row(lat=47.73874, lon=-117.442395, code=99006) 99006
[400]

ii Row(lat=47.432251, lon=-121.803388, code=98158) 98158
[400]

ii Row(lat=47.002178, lon=-123.483596, code=98583) 98583
[400]

ii Row(lat=48.688554, lon=-122.186966, code=98220) 98220
[400]

ii Row(lat=45.691419, lon=-122.580457, code=98662) 98662
[400]

ii Row(lat=46.514625, lon=-123.76903, code=98561) 98561
[400]

ii Row(lat=47.145817, lon=-122.309704, code=98373) 98373
[400]

ii Row(lat=47.2, lon=-122.48, code=98490) 98490
[400]

ii Row(lat=45.611697, lon=-122.315559, code=98671) 98671
[400]

ii Row(lat=46.571323, lon=-123.298384, code=98522) 98522
[400]

ii Row(lat=46.310011, lon=-123.614319, code=98643) 98643
[400]

ii Row(lat=47.470651, lon=-122.650972, code=98367) 98367
[400]

ii Row(lat=47.672498, lon=-122.707982, code=98383) 98383
[400]

ii Row(lat=48.019581, lon=-122.540489, code=98249) 98249
[400]

ii Row(lat=48.181498, lon=-121.959469, code=98223) 98223
[400]

ii Row(lat=47.794519, lon=-122.194276, code=98021) 98021
[400]

ii Row(lat=47.62692, lon=-122.231389, code=98039) 98039
[400]

ii Row(lat=47.066193, lon=-122.113223, code=98497) 98497
[400]

ii Row(lat=47.776875, lon=-122.264256, code=98199) 98199
[400]

ii Row(lat=47.379972, lon=-122.16538, code=98031) 98031
[400]

ii Row(lat=45.756797, lon=-122.620162, code=98642) 98642
[400]

ii Row(lat=47.230148, lon=-124.232056, code=98587) 98587
[400]

ii Row(lat=46.148328, lon=-119.559674, code=99350) 99350
[400]

ii Row(lat=47.432251, lon=-121.803388, code=98146) 98146
[400]

ii Row(lat=47.066193, lon=-122.113223, code=98418) 98418
[400]

ii Row(lat=46.369711, lon=-117.225934, code=99403) 99403
[400]

ii Row(lat=47.287606, lon=-122.500486, code=98407) 98407
[400]

ii Row(lat=47.534473, lon=-121.816158, code=98065) 98065
[400]

ii Row(lat=47.066193, lon=-122.113223, code=98493) 98493
[400]

ii Row(lat=47.75754, lon=-117.407552, code=99218) 99218
[400]

ii Row(lat=47.146371, lon=-122.457172, code=98444) 98444
[400]

ii Row(lat=46.53912, lon=-122.100372, code=98336) 98336
[400]

ii Row(lat=45.721519, lon=-121.447323, code=98605) 98605
[400]

ii Row(lat=47.605867, lon=-122.111082, code=98008) 98008
[400]

ii Row(lat=46.373611, lon=-120.01059, code=98944) 98944
[400]

ii Row(lat=47.6, lon=-122.33, code=98175) 98175
[400]

ii Row(lat=48.268511, lon=-118.113552, code=99131) 99131
[400]

ii Row(lat=46.300349, lon=-123.456145, code=98647) 98647
[400]

ii Row(lat=46.949776, lon=-123.021207, code=98512) 98512
[400]

ii Row(lat=47.520107, lon=-117.270216, code=99036) 99036
[429]

ii Row(lat=47.16, lon=-122.5, code=98496) 98496
[400]

ii Row(lat=47.066193, lon=-122.113223, code=98415) 98415
[400]

ii Row(lat=46.730891, lon=-124.027885, code=98590) 98590
[400]

ii Row(lat=45.881459, lon=-122.615416, code=98629) 98629
[400]

ii Row(lat=47.81179, lon=-121.549712, code=98256) 98256
[400]

ii Row(lat=46.323528, lon=-120.375459, code=98933) 98933
[400]

ii Row(lat=46.897589, lon=-119.686316, code=99357) 99357
[400]

ii Row(lat=46.730957, lon=-119.778257, code=99349) 99349
[400]

ii Row(lat=46.117122, lon=-119.090676, code=99337) 99337
[400]

ii Row(lat=46.376798, lon=-123.995591, code=98631) 98631
[400]

ii Row(lat=48.887781, lon=-118.210467, code=99160) 99160
[429]

ii Row(lat=47.066193, lon=-122.113223, code=98431) 98431
[400]

ii Row(lat=47.344402, lon=-118.658816, code=99159) 99159
[400]

ii Row(lat=47.653568, lon=-117.431742, code=99211) 99211
[400]

ii Row(lat=46.978118, lon=-122.702393, code=98504) 98504
[400]

ii Row(lat=47.259216, lon=-122.509235, code=98406) 98406
[400]

ii Row(lat=48.364253, lon=-122.140311, code=98274) 98274
[400]

ii Row(lat=46.419838, lon=-120.231713, code=98953) 98953
[400]

ii Row(lat=46.838747, lon=-117.644337, code=99165) 99165
[400]

ii Row(lat=46.882364, lon=-122.562689, code=98597) 98597
[400]

ii Row(lat=47.568617, lon=-122.63735, code=98337) 98337
[429]

ii Row(lat=47.60894, lon=-118.399551, code=99154) 99154
[400]

ii Row(lat=46.514625, lon=-123.76903, code=98637) 98637
[400]

ii Row(lat=47.532281, lon=-123.049632, code=98555) 98555
[400]

ii Row(lat=47.712295, lon=-118.122173, code=99122) 99122
[400]

ii Row(lat=46.527811, lon=-120.687412, code=98908) 98908
[400]

ii Row(lat=47.162482, lon=-123.794069, code=98562) 98562
[400]

ii Row(lat=47.435986, lon=-122.580554, code=98359) 98359
[400]

ii Row(lat=47.76727, lon=-117.090112, code=99025) 99025
[400]

ii Row(lat=47.058452, lon=-122.41648, code=98387) 98387
[400]

ii Row(lat=45.673707, lon=-121.912581, code=98648) 98648
[400]

ii Row(lat=48.676916, lon=-117.809315, code=99114) 99114
[400]

ii Row(lat=46.24204, lon=-119.483517, code=99320) 99320
[400]

ii Row(lat=45.769989, lon=-122.643658, code=98661) 98661
[400]

ii Row(lat=47.104269, lon=-123.055153, code=98502) 98502
[400]

ii Row(lat=48.435248, lon=-122.208184, code=98273) 98273
[400]

ii Row(lat=46.330755, lon=-124.04553, code=98644) 98644
[400]

ii Row(lat=47.248013, lon=-122.628989, code=98333) 98333
[400]

ii Row(lat=48.426942, lon=-119.560672, code=98841) 98841
[400]

ii Row(lat=47.653568, lon=-117.431742, code=99258) 99258
[400]

ii Row(lat=46.934379, lon=-117.412136, code=99102) 99102
[400]

ii Row(lat=48.932328, lon=-122.436249, code=98264) 98264
[400]

ii Row(lat=46.165237, lon=-120.050377, code=98935) 98935
[400]

ii Row(lat=47.432251, lon=-121.803388, code=98134) 98134
[400]

ii Row(lat=48.975272, lon=-118.220816, code=99146) 99146
[400]

ii Row(lat=47.665198, lon=-117.373399, code=99206) 99206
[400]

ii Row(lat=47.988661, lon=-122.199795, code=98201) 98201
[400]

ii Row(lat=47.109524, lon=-122.037015, code=98396) 98396
[400]

ii Row(lat=47.310568, lon=-121.998721, code=98010) 98010
[400]

ii Row(lat=47.432251, lon=-121.803388, code=98101) 98101
[400]

ii Row(lat=47.754219, lon=-122.124643, code=98028) 98028
[400]

ii Row(lat=47.6, lon=-122.33, code=98113) 98113
[400]

ii Row(lat=47.432251, lon=-121.803388, code=98188) 98188
[400]

ii Row(lat=48.037258, lon=-121.682271, code=98207) 98207
[400]

ii Row(lat=46.978118, lon=-122.702393, code=98507) 98507
[400]

ii Row(lat=46.591038, lon=-122.068418, code=98356) 98356
[400]

ii Row(lat=47.254749, lon=-122.530336, code=98465) 98465
[400]

ii Row(lat=46.805796, lon=-120.992096, code=98937) 98937
[400]

ii Row(lat=47.432251, lon=-121.803388, code=98190) 98190
[400]

ii Row(lat=47.432251, lon=-121.803388, code=98161) 98161
[400]

ii Row(lat=47.079345, lon=-117.176954, code=99104) 99104
[400]

ii Row(lat=48.448981, lon=-117.228067, code=99156) 99156
[400]

ii Row(lat=47.432251, lon=-121.803388, code=98168) 98168
[400]

ii Row(lat=47.311041, lon=-122.113791, code=98093) 98093
[400]

ii Row(lat=47.46028, lon=-123.830676, code=98575) 98575
[400]

ii Row(lat=47.483051, lon=-121.987813, code=98024) 98024
[400]

ii Row(lat=47.071971, lon=-124.152461, code=98569) 98569
[400]

ii Row(lat=47.066193, lon=-122.113223, code=98481) 98481
[400]

ii Row(lat=48.037258, lon=-121.682271, code=98259) 98259
[400]

ii Row(lat=47.432251, lon=-121.803388, code=98166) 98166
[400]

ii Row(lat=48.508868, lon=-121.697178, code=98237) 98237
[400]

ii Row(lat=48.814753, lon=-121.988548, code=98231) 98231
[400]

ii Row(lat=47.432251, lon=-121.803388, code=98121) 98121
[400]

ii Row(lat=46.826407, lon=-124.094009, code=98547) 98547
[400]

ii Row(lat=47.673263, lon=-122.187029, code=98033) 98033
[400]

ii Row(lat=47.465495, lon=-121.821908, code=98001) 98001
[400]

ii Row(lat=47.678756, lon=-122.121034, code=98052) 98052
[400]

ii Row(lat=48.80177, lon=-122.091834, code=98244) 98244
[400]

ii Row(lat=47.432251, lon=-121.803388, code=98103) 98103
[400]

ii Row(lat=47.432251, lon=-121.803388, code=98122) 98122
[400]

ii Row(lat=47.497831, lon=-120.214402, code=98802) 98802
[400]

ii Row(lat=45.958949, lon=-121.53564, code=98650) 98650
[400]

ii Row(lat=47.098845, lon=-122.36393, code=98375) 98375
[400]

ii Row(lat=47.767169, lon=-122.259737, code=98155) 98155
[400]

ii Row(lat=46.588006, lon=-123.834262, code=98586) 98586
[400]

ii Row(lat=48.199745, lon=-124.390233, code=98326) 98326
[400]

ii Row(lat=46.544316, lon=-120.396038, code=98942) 98942
[400]

ii Row(lat=47.245769, lon=-122.311073, code=98354) 98354
[429]

ii Row(lat=47.74, lon=-122.05, code=98077) 98077
[429]

ii Row(lat=46.84275, lon=-122.849451, code=98589) 98589
[429]

ii Row(lat=48.905142, lon=-117.851127, code=99157) 99157
[429]

ii Row(lat=47.180684, lon=-119.298979, code=98837) 98837
[429]

ii Row(lat=47.869494, lon=-121.731275, code=98294) 98294
[429]

ii Row(lat=46.959127, lon=-117.505163, code=99111) 99111
[429]

ii Row(lat=47.485913, lon=-123.920555, code=98526) 98526
[429]

ii Row(lat=47.58, lon=-122.03, code=98075) 98075
[429]

ii Row(lat=47.104227, lon=-122.870043, code=98506) 98506
[429]

ii Row(lat=47.322429, lon=-122.984003, code=98524) 98524
[429]

ii Row(lat=47.774872, lon=-120.356279, code=98822) 98822
[429]

ii Row(lat=45.705566, lon=-122.572193, code=98686) 98686
[429]

ii Row(lat=47.197581, lon=-122.162076, code=98372) 98372
[429]

ii Row(lat=47.156263, lon=-122.706706, code=98303) 98303
[429]

ii Row(lat=47.315422, lon=-122.20423, code=98002) 98002
[429]

ii Row(lat=47.432251, lon=-121.803388, code=98115) 98115
[429]

ii Row(lat=47.545758, lon=-120.596146, code=98847) 98847
[429]

ii Row(lat=45.689187, lon=-122.661608, code=98665) 98665
[429]

ii Row(lat=47.693766, lon=-117.379096, code=99207) 99207
[429]

ii Row(lat=48.428261, lon=-121.609872, code=98283) 98283
[429]

ii Row(lat=47.817133, lon=-120.080148, code=98831) 98831
[429]

ii Row(lat=45.6359, lon=-122.515538, code=98684) 98684
[429]

ii Row(lat=47.263255, lon=-123.159683, code=98584) 98584
[429]

ii Row(lat=47.651635, lon=-117.085845, code=99019) 99019
[429]

ii Row(lat=47.911892, lon=-122.709606, code=98365) 98365
[429]

ii Row(lat=46.047069, lon=-118.409275, code=99324) 99324
[429]

ii Row(lat=47.946017, lon=-122.231795, code=98203) 98203
[429]

ii Row(lat=47.857022, lon=-122.28301, code=98037) 98037
[429]

ii Row(lat=47.261502, lon=-122.463308, code=98402) 98402
[429]

ii Row(lat=47.897284, lon=-122.190392, code=98208) 98208
[429]

ii Row(lat=47.622784, lon=-117.138178, code=99016) 99016
[429]

ii Row(lat=45.828588, lon=-121.405863, code=98672) 98672
[429]

ii Row(lat=47.129145, lon=-122.409355, code=98445) 98445
[429]

ii Row(lat=47.615471, lon=-122.207221, code=98004) 98004
[429]

ii Row(lat=47.432251, lon=-121.803388, code=98177) 98177
[429]

ii Row(lat=47.636834, lon=-117.199587, code=99037) 99037
[429]

ii Row(lat=46.561375, lon=-123.54788, code=98554) 98554
[429]

ii Row(lat=47.288362, lon=-122.097976, code=98092) 98092
[429]

ii Row(lat=47.780541, lon=-117.455375, code=99208) 99208
[429]

ii Row(lat=47.591261, lon=-122.868581, code=98380) 98380
[429]

ii Row(lat=47.209131, lon=-122.397929, code=98404) 98404
[429]

ii Row(lat=47.432251, lon=-121.803388, code=98112) 98112
[429]

ii Row(lat=47.578921, lon=-122.79859, code=98312) 98312
[429]

ii Row(lat=47.445171, lon=-121.431033, code=98068) 98068
[429]

ii Row(lat=47.497419, lon=-122.010699, code=98027) 98027
[429]

ii Row(lat=47.956934, lon=-122.417721, code=98236) 98236
[429]

ii Row(lat=47.492385, lon=-122.235856, code=98178) 98178
[429]

ii Row(lat=46.713822, lon=-123.01046, code=98531) 98531
[429]

ii Row(lat=48.414123, lon=-122.508364, code=98257) 98257
[429]

ii Row(lat=47.620152, lon=-122.142282, code=98007) 98007
[429]

ii Row(lat=47.542664, lon=-122.587102, code=98366) 98366
[429]

ii Row(lat=48.486147, lon=-122.137243, code=98284) 98284
[429]

ii Row(lat=45.656489, lon=-122.399341, code=98607) 98607
[429]

ii Row(lat=47.751046, lon=-122.614094, code=98370) 98370
[429]

ii Row(lat=47.432251, lon=-121.803388, code=98032) 98032
[429]

ii Row(lat=48.853213, lon=-122.247881, code=98266) 98266
[429]

ii Row(lat=47.863149, lon=-121.88433, code=98272) 98272
[429]

ii Row(lat=45.603216, lon=-122.513318, code=98683) 98683
[429]

ii Row(lat=46.1341, lon=-118.291407, code=99362) 99362
[429]

ii Row(lat=48.499172, lon=-122.607111, code=98221) 98221
[429]

ii Row(lat=47.775627, lon=-122.240337, code=98023) 98023
[429]

ii Row(lat=46.621697, lon=-121.652807, code=98361) 98361
[429]

ii Row(lat=47.432251, lon=-121.803388, code=98104) 98104
[429]

ii Row(lat=47.835318, lon=-122.326981, code=98026) 98026
[429]

ii Row(lat=47.212822, lon=-122.317148, code=98371) 98371
[429]

ii Row(lat=47.647774, lon=-122.538016, code=98110) 98110
[429]

ii Row(lat=47.028084, lon=-120.48998, code=98926) 98926
[429]

ii Row(lat=47.234107, lon=-121.903936, code=98022) 98022
[429]

ii Row(lat=47.432251, lon=-121.803388, code=98198) 98198
[429]

ii Row(lat=48.987386, lon=-123.058243, code=98281) 98281
[429]

ii Row(lat=47.432251, lon=-121.803388, code=98057) 98057
[429]

ii Row(lat=48.100424, lon=-122.57612, code=98253) 98253
[429]

ii Row(lat=47.725139, lon=-122.205646, code=98034) 98034
[429]

ii Row(lat=47.833114, lon=-121.636528, code=98251) 98251
[429]

ii Row(lat=48.031815, lon=-122.458831, code=98260) 98260
[429]

ii Row(lat=47.283379, lon=-122.388781, code=98422) 98422
[429]

ii Row(lat=48.538181, lon=-123.068323, code=98250) 98250
[429]

ii Row(lat=47.432251, lon=-121.803388, code=98108) 98108
[429]

ii Row(lat=47.693501, lon=-117.44995, code=99205) 99205
[429]

ii Row(lat=47.432251, lon=-121.803388, code=98117) 98117
[429]

ii Row(lat=47.432251, lon=-121.803388, code=98136) 98136
[429]

ii Row(lat=47.86, lon=-122.26, code=98087) 98087
[429]

ii Row(lat=47.899696, lon=-122.255522, code=98204) 98204
[429]

ii Row(lat=48.498773, lon=-122.874334, code=98261) 98261
[429]

ii Row(lat=47.432251, lon=-121.803388, code=98116) 98116
[429]

ii Row(lat=48.768396, lon=-122.486483, code=98226) 98226
[429]

ii Row(lat=47.432251, lon=-121.803388, code=98106) 98106
[429]

ii Row(lat=47.156558, lon=-120.806926, code=98922) 98922
[429]

ii Row(lat=47.66264, lon=-117.435997, code=99201) 99201
[429]

ii Row(lat=46.752611, lon=-122.05517, code=98304) 98304
[429]

ii Row(lat=47.432251, lon=-121.803388, code=98144) 98144
[429]

ii Row(lat=47.432251, lon=-121.803388, code=98119) 98119
[429]

ii Row(lat=46.545655, lon=-117.10797, code=99179) 99179
[429]

ii Row(lat=48.533616, lon=-122.362337, code=98233) 98233
[429]

ii Row(lat=47.894108, lon=-117.753629, code=99034) 99034
[429]

ii Row(lat=48.340002, lon=-122.345571, code=98238) 98238
[429]

ii Row(lat=48.557824, lon=-122.983742, code=98243) 98243
[429]

ii Row(lat=47.18717, lon=-122.532335, code=98467) 98467
[429]

ii Row(lat=46.392683, lon=-117.94953, code=99328) 99328
[429]

ii Row(lat=48.537813, lon=-121.47384, code=98267) 98267
[429]

ii Row(lat=46.002114, lon=-122.72175, code=98625) 98625
[429]

ii Row(lat=48.502603, lon=-119.542935, code=98855) 98855
[429]

ii Row(lat=48.667659, lon=-118.680631, code=99166) 99166
[429]

ii Row(lat=47.653568, lon=-117.431742, code=99210) 99210
[429]

ii Row(lat=47.159149, lon=-122.548486, code=98498) 98498
[429]

ii Row(lat=47.159136, lon=-124.135203, code=98536) 98536
[429]

ii Row(lat=47.767103, lon=-121.481395, code=98224) 98224
[429]

ii Row(lat=47.592452, lon=-117.34212, code=99223) 99223
[429]

ii Row(lat=47.551771, lon=-122.144727, code=98006) 98006
[429]

ii Row(lat=47.857915, lon=-122.092025, code=98296) 98296
[429]

ii Row(lat=48.889691, lon=-118.217849, code=99140) 99140
[429]

ii Row(lat=45.923556, lon=-122.450194, code=98601) 98601
[429]

ii Row(lat=46.315267, lon=-119.371393, code=99353) 99353
[429]

ii Row(lat=47.432251, lon=-121.803388, code=98160) 98160
[429]

ii Row(lat=47.327254, lon=-122.916256, code=98546) 98546
[429]

ii Row(lat=47.066193, lon=-122.113223, code=98464) 98464
[429]

ii Row(lat=48.659128, lon=-122.867603, code=98245) 98245
[429]

ii Row(lat=46.449869, lon=-120.667145, code=98952) 98952
[429]

ii Row(lat=47.079243, lon=-119.860117, code=98824) 98824
[429]

ii Row(lat=47.992362, lon=-117.26615, code=99009) 99009
[429]

ii Row(lat=47.432251, lon=-121.803388, code=98164) 98164
[429]

ii Row(lat=47.573816, lon=-120.351884, code=98801) 98801
[429]

ii Row(lat=48.798456, lon=-119.025578, code=98859) 98859
[429]

ii Row(lat=46.95, lon=-123.02, code=98511) 98511
[429]

ii Row(lat=47.066193, lon=-122.113223, code=98430) 98430
[429]

ii Row(lat=47.698025, lon=-122.625529, code=98345) 98345
[429]

ii Row(lat=48.006094, lon=-124.360572, code=98305) 98305
[429]

ii Row(lat=47.701979, lon=-119.86123, code=98858) 98858
[429]

ii Row(lat=47.432251, lon=-121.803388, code=98171) 98171
[429]

ii Row(lat=46.637538, lon=-120.794978, code=98909) 98909
[429]

ii Row(lat=46.852708, lon=-118.993182, code=99344) 99344
[429]

ii Row(lat=47.015536, lon=-123.719565, code=98563) 98563
[429]

ii Row(lat=46.989916, lon=-122.222642, code=98344) 98344
[429]

ii Row(lat=46.929426, lon=-117.170603, code=99130) 99130
[429]

ii Row(lat=45.807631, lon=-121.487682, code=98623) 98623
[429]

ii Row(lat=47.301392, lon=-119.063956, code=98832) 98832
[429]

ii Row(lat=46.577941, lon=-119.162115, code=99343) 99343
[429]

ii Row(lat=46.838747, lon=-117.644337, code=99127) 99127
[429]

ii Row(lat=46.958918, lon=-123.326762, code=98559) 98559
[429]

ii Row(lat=47.151297, lon=-122.567631, code=98438) 98438
[429]

ii Row(lat=47.881367, lon=-117.933742, code=99040) 99040
[429]

ii Row(lat=48.074894, lon=-121.798489, code=98252) 98252
[429]

ii Row(lat=47.722245, lon=-121.369352, code=98288) 98288
[429]

ii Row(lat=47.128671, lon=-122.510316, code=98439) 98439
[429]

ii Row(lat=47.582186, lon=-120.595955, code=98821) 98821
[429]

ii Row(lat=46.980645, lon=-120.416259, code=98934) 98934
[429]

ii Row(lat=47.432251, lon=-121.803388, code=98041) 98041
[429]

ii Row(lat=45.801586, lon=-122.520347, code=98668) 98668
[429]

ii Row(lat=47.432251, lon=-121.803388, code=98154) 98154
[429]

ii Row(lat=47.404594, lon=-119.442377, code=98851) 98851
[429]

ii Row(lat=48.551984, lon=-119.812938, code=98814) 98814
[429]

ii Row(lat=47.633161, lon=-117.654603, code=99011) 99011
[429]

ii Row(lat=47.226641, lon=-117.096157, code=99033) 99033
[429]

ii Row(lat=46.530022, lon=-122.724004, code=98542) 98542
[429]

ii Row(lat=47.312058, lon=-120.103205, code=98850) 98850
[429]

ii Row(lat=46.873509, lon=-122.661394, code=98576) 98576
[429]

ii Row(lat=47.6, lon=-122.33, code=98170) 98170
[429]

ii Row(lat=48.518361, lon=-119.434674, code=98849) 98849
[429]

ii Row(lat=45.641548, lon=-121.07317, code=98673) 98673
[429]

ii Row(lat=48.046751, lon=-122.056379, code=98258) 98258
[429]

ii Row(lat=45.989951, lon=-121.282054, code=98619) 98619
[429]

ii Row(lat=47.432251, lon=-121.803388, code=98191) 98191
[429]

ii Row(lat=46.317185, lon=-123.999449, code=98624) 98624
[429]

ii Row(lat=47.432251, lon=-121.803388, code=98013) 98013
[429]

ii Row(lat=47.432251, lon=-121.803388, code=98070) 98070
[429]

ii Row(lat=45.801586, lon=-122.520347, code=98687) 98687
[429]

ii Row(lat=47.690048, lon=-122.712678, code=98315) 98315
[429]

ii Row(lat=46.220778, lon=-122.673021, code=98611) 98611
[429]

ii Row(lat=47.687971, lon=-122.729304, code=98378) 98378
[429]

ii Row(lat=47.822463, lon=-119.042714, code=99133) 99133
[429]

ii Row(lat=48.002188, lon=-117.828964, code=99173) 99173
[429]

ii Row(lat=47.701645, lon=-117.755268, code=99029) 99029
[429]

ii Row(lat=46.495639, lon=-123.146764, code=98538) 98538
[429]

ii Row(lat=46.42066, lon=-118.899447, code=99301) 99301
[429]

ii Row(lat=47.841829, lon=-119.957918, code=98817) 98817
[429]

ii Row(lat=47.311117, lon=-122.772503, code=98394) 98394
[429]

ii Row(lat=47.73459, lon=-121.931974, code=98019) 98019
[429]

ii Row(lat=45.856217, lon=-121.044345, code=98628) 98628
[429]

ii Row(lat=47.432251, lon=-121.803388, code=98064) 98064
[429]

ii Row(lat=47.626717, lon=-122.649953, code=98393) 98393
[429]

ii Row(lat=48.037258, lon=-121.682271, code=98046) 98046
[429]

ii Row(lat=48.248002, lon=-119.75246, code=98829) 98829
[429]

ii Row(lat=47.847735, lon=-119.525987, code=98830) 98830
[429]

ii Row(lat=45.650488, lon=-122.663608, code=98663) 98663
[429]

ii Row(lat=47.16, lon=-123.736287, code=98541) 98541
[429]

ii Row(lat=47.840068, lon=-122.197238, code=98012) 98012
[429]

ii Row(lat=46.071482, lon=-122.864838, code=98609) 98609
[429]

ii Row(lat=47.653568, lon=-117.431742, code=99214) 99214
[429]

ii Row(lat=46.563491, lon=-122.690491, code=98570) 98570
[429]

ii Row(lat=48.834208, lon=-122.335734, code=98276) 98276
[429]

ii Row(lat=47.432251, lon=-121.803388, code=98047) 98047
[429]

ii Row(lat=47.319535, lon=-120.173347, code=98828) 98828
[429]

ii Row(lat=47.139095, lon=-122.258646, code=98374) 98374
[429]

ii Row(lat=47.432251, lon=-121.803388, code=98073) 98073
[429]

ii Row(lat=45.75826, lon=-121.576567, code=98651) 98651
[429]

ii Row(lat=46.96178, lon=-117.687163, code=99017) 99017
[429]

ii Row(lat=47.073905, lon=-120.758301, code=98946) 98946
[429]

ii Row(lat=46.214628, lon=-123.334899, code=98612) 98612
[429]

ii Row(lat=48.327961, lon=-124.615051, code=98357) 98357
[429]

ii Row(lat=47.188645, lon=-120.95368, code=98943) 98943
[429]

ii Row(lat=46.50281, lon=-122.468293, code=98564) 98564
[429]

ii Row(lat=48.015361, lon=-118.954893, code=99124) 99124
[429]

ii Row(lat=47.066193, lon=-122.113223, code=98492) 98492
[429]

ii Row(lat=48.577378, lon=-119.956787, code=98840) 98840
[429]

ii Row(lat=47.264577, lon=-122.482076, code=98416) 98416
[429]

ii Row(lat=46.379714, lon=-123.056039, code=98581) 98581
[429]

ii Row(lat=48.470099, lon=-122.238754, code=98235) 98235
[429]

ii Row(lat=47.066193, lon=-122.113223, code=98477) 98477
[429]

ii Row(lat=47.432251, lon=-121.803388, code=98054) 98054
[429]

ii Row(lat=45.803592, lon=-122.531645, code=98604) 98604
[429]

ii Row(lat=46.798216, lon=-122.871798, code=98530) 98530
[429]

ii Row(lat=47.432251, lon=-121.803388, code=98114) 98114
[429]

ii Row(lat=46.678192, lon=-120.753007, code=98923) 98923
[429]

ii Row(lat=47.288589, lon=-122.777592, code=98349) 98349
[429]

ii Row(lat=46.56451, lon=-120.694658, code=98904) 98904
[429]

ii Row(lat=46.522398, lon=-120.508444, code=98951) 98951
[429]

ii Row(lat=46.82748, lon=-117.317741, code=99163) 99163
[429]

ii Row(lat=45.887647, lon=-120.281675, code=99322) 99322
[429]

ii Row(lat=47.799507, lon=-117.619375, code=99026) 99026
[429]

ii Row(lat=47.342898, lon=-123.929112, code=98552) 98552
[429]

ii Row(lat=46.859127, lon=-118.161058, code=99105) 99105
[429]

ii Row(lat=46.844992, lon=-119.935689, code=99321) 99321
[429]

ii Row(lat=47.55988, lon=-117.595751, code=99014) 99014
[429]

ii Row(lat=47.265371, lon=-122.457087, code=98403) 98403
[429]

ii Row(lat=46.140821, lon=-118.153064, code=99329) 99329
[429]

ii Row(lat=47.852847, lon=-117.337529, code=99005) 99005
[429]

ii Row(lat=48.446836, lon=-119.811252, code=98856) 98856
[429]

ii Row(lat=47.761025, lon=-118.729143, code=99185) 99185
[429]

ii Row(lat=47.708473, lon=-120.329107, code=98811) 98811
[429]

ii Row(lat=47.066613, lon=-117.361435, code=99128) 99128
[429]

ii Row(lat=46.234957, lon=-119.094271, code=99302) 99302
[429]

ii Row(lat=46.159844, lon=-118.139822, code=99361) 99361
[429]

ii Row(lat=46.955863, lon=-122.55585, code=98558) 98558
[429]

ii Row(lat=46.978118, lon=-122.702393, code=98540) 98540
[429]

ii Row(lat=46.456038, lon=-122.79498, code=98591) 98591
[429]

ii Row(lat=47.646148, lon=-117.793734, code=99209) 99209
[429]

ii Row(lat=46.759878, lon=-117.728679, code=99143) 99143
[429]

ii Row(lat=46.342219, lon=-123.802552, code=98638) 98638
[429]

ii Row(lat=47.478233, lon=-118.254439, code=99134) 99134
[429]

ii Row(lat=46.871354, lon=-119.985869, code=98950) 98950
[429]

ii Row(lat=46.628757, lon=-120.573967, code=98907) 98907
[429]

ii Row(lat=45.620669, lon=-122.576413, code=98664) 98664
[429]

ii Row(lat=47.432251, lon=-121.803388, code=98181) 98181
[429]

ii Row(lat=47.617665, lon=-117.592591, code=99020) 99020
[429]

ii Row(lat=47.432251, lon=-121.803388, code=98124) 98124
[429]

ii Row(lat=46.546091, lon=-122.487578, code=98585) 98585
[429]

ii Row(lat=47.438748, lon=-117.370017, code=99031) 99031
[429]

ii Row(lat=46.838747, lon=-117.644337, code=99174) 99174
[429]

ii Row(lat=47.656726, lon=-117.282483, code=99213) 99213
[429]

ii Row(lat=47.223287, lon=-121.002513, code=98941) 98941
[429]

ii Row(lat=47.066193, lon=-122.113223, code=98397) 98397
[429]

ii Row(lat=47.087055, lon=-118.4813, code=99169) 99169
[429]

ii Row(lat=47.432251, lon=-121.803388, code=98035) 98035
[429]

ii Row(lat=47.432251, lon=-121.803388, code=98138) 98138
[429]

ii Row(lat=46.978118, lon=-122.702393, code=98599) 98599
[429]

ii Row(lat=48.954016, lon=-118.505768, code=99121) 99121
[429]

ii Row(lat=47.60894, lon=-118.399551, code=99008) 99008
[429]

ii Row(lat=46.423038, lon=-122.973972, code=98593) 98593
[429]

ii Row(lat=46.314662, lon=-122.728835, code=98645) 98645
[429]

ii Row(lat=47.274764, lon=-121.932232, code=98051) 98051
[429]

ii Row(lat=46.340157, lon=-120.15493, code=98932) 98932
[429]

ii Row(lat=47.6, lon=-122.33, code=98194) 98194
[429]

ii Row(lat=47.834431, lon=-122.592763, code=98364) 98364
[429]

ii Row(lat=46.93823, lon=-122.468087, code=98580) 98580
[429]

ii Row(lat=46.777707, lon=-122.202297, code=98330) 98330
[429]

ii Row(lat=47.650091, lon=-117.429846, code=99204) 99204
[429]

ii Row(lat=46.904229, lon=-118.690546, code=99341) 99341
[429]

ii Row(lat=47.734728, lon=-117.107735, code=99027) 99027
[429]

ii Row(lat=46.45594, lon=-120.312088, code=98930) 98930
[429]

ii Row(lat=47.6, lon=-122.33, code=98139) 98139
[429]

ii Row(lat=47.207364, lon=-122.772012, code=98351) 98351
[429]

ii Row(lat=48.565955, lon=-122.448358, code=98232) 98232
[429]

ii Row(lat=45.731631, lon=-122.477093, code=98606) 98606
[429]

ii Row(lat=47.92167, lon=-117.262989, code=99003) 99003
[429]

ii Row(lat=47.2, lon=-122.48, code=98417) 98417
[429]

ii Row(lat=46.96608, lon=-122.384322, code=98338) 98338
[429]

ii Row(lat=47.205777, lon=-122.321095, code=98409) 98409
[429]

ii Row(lat=47.432251, lon=-121.803388, code=98125) 98125
[429]

ii Row(lat=47.629341, lon=-117.406269, code=99203) 99203
[429]

ii Row(lat=47.2, lon=-122.48, code=98419) 98419
[429]

ii Row(lat=45.801586, lon=-122.520347, code=98666) 98666
[429]

ii Row(lat=48.484729, lon=-117.22144, code=99152) 99152
[429]

ii Row(lat=47.909511, lon=-122.050108, code=98291) 98291
[429]

ii Row(lat=47.97, lon=-122.2, code=98213) 98213
[429]

ii Row(lat=46.025434, lon=-122.359589, code=98616) 98616
[429]

ii Row(lat=47.05221, lon=-122.025502, code=98323) 98323
[429]

ii Row(lat=46.575075, lon=-117.206588, code=99113) 99113
[429]

ii Row(lat=45.801586, lon=-122.520347, code=98622) 98622
[429]

ii Row(lat=46.328522, lon=-120.370257, code=98948) 98948
[429]

ii Row(lat=47.6, lon=-122.33, code=98141) 98141
[429]

ii Row(lat=47.670693, lon=-117.310991, code=99212) 99212
[429]

ii Row(lat=47.066193, lon=-122.113223, code=98348) 98348
[429]

ii Row(lat=46.421218, lon=-120.315141, code=98921) 98921
[429]

ii Row(lat=47.61, lon=-122.34, code=98189) 98189
[429]

ii Row(lat=48.007138, lon=-117.557907, code=99110) 99110
[429]

ii Row(lat=48.310127, lon=-122.655862, code=98278) 98278
[429]

ii Row(lat=47.066193, lon=-122.113223, code=98455) 98455
[429]

ii Row(lat=46.355461, lon=-123.597874, code=98621) 98621
[429]

ii Row(lat=47.529705, lon=-118.599193, code=99103) 99103
[429]

ii Row(lat=47.387674, lon=-123.890317, code=98566) 98566
[429]

ii Row(lat=47.308061, lon=-122.418495, code=98442) 98442
[429]

ii Row(lat=47.653568, lon=-117.431742, code=99215) 99215
[429]

ii Row(lat=46.582897, lon=-123.314715, code=98572) 98572
[429]

ii Row(lat=47.38, lon=-122.23, code=98089) 98089
[429]

ii Row(lat=45.930067, lon=-119.402276, code=99346) 99346
[429]

ii Row(lat=48.037258, lon=-121.682271, code=98287) 98287
[429]

ii Row(lat=47.432251, lon=-121.803388, code=98009) 98009
[429]

ii Row(lat=47.432251, lon=-121.803388, code=98111) 98111
[429]

ii Row(lat=46.978118, lon=-122.702393, code=98508) 98508
[429]

ii Row(lat=48.150398, lon=-118.077422, code=99137) 99137
[429]

ii Row(lat=45.851428, lon=-120.354257, code=99356) 99356
[429]

ii Row(lat=47.913372, lon=-117.797447, code=99013) 99013
[429]

ii Row(lat=47.653568, lon=-117.431742, code=99219) 99219
[429]

ii Row(lat=46.544789, lon=-124.042671, code=98641) 98641
[429]

ii Row(lat=47.6, lon=-122.33, code=98127) 98127
[429]

ii Row(lat=47.653568, lon=-117.431742, code=99251) 99251
[429]

ii Row(lat=46.911972, lon=-117.702655, code=99125) 99125
[429]

ii Row(lat=48.037889, lon=-118.941876, code=99116) 99116
[429]

ii Row(lat=47.066193, lon=-122.113223, code=98412) 98412
[429]

ii Row(lat=46.77062, lon=-118.800049, code=99332) 99332
[429]

ii Row(lat=47.905787, lon=-120.520211, code=98852) 98852
[429]

ii Row(lat=47.066193, lon=-122.113223, code=98398) 98398
[429]

ii Row(lat=47.870275, lon=-121.76849, code=98293) 98293
[429]

ii Row(lat=47.905787, lon=-120.520211, code=98807) 98807
[429]

ii Row(lat=47.405253, lon=-117.17253, code=99012) 99012
[429]

ii Row(lat=48.894734, lon=-118.669864, code=99118) 99118
[429]

ii Row(lat=48.590114, lon=-122.940972, code=98280) 98280
[429]

ii Row(lat=47.034713, lon=-117.4646, code=99170) 99170
[429]

ii Row(lat=45.632681, lon=-121.17169, code=98617) 98617
[429]

ii Row(lat=46.713843, lon=-122.093813, code=98355) 98355
[429]

ii Row(lat=47.432251, lon=-121.803388, code=98151) 98151
[429]

ii Row(lat=47.079658, lon=-117.41146, code=99158) 99158
[429]

ii Row(lat=46.56451, lon=-120.694658, code=98939) 98939
[429]

ii Row(lat=47.653568, lon=-117.431742, code=99260) 99260
[429]

ii Row(lat=46.366004, lon=-120.119917, code=98938) 98938
[429]

ii Row(lat=47.369501, lon=-122.715346, code=98329) 98329
[429]

ii Row(lat=47.263601, lon=-123.441178, code=98560) 98560
[429]

ii Row(lat=46.579292, lon=-122.568709, code=98533) 98533
[429]

ii Row(lat=47.247871, lon=-122.472793, code=98405) 98405
[429]

ii Row(lat=47.834074, lon=-117.240392, code=99021) 99021
[429]

ii Row(lat=48.055733, lon=-123.91784, code=98363) 98363
[429]

ii Row(lat=47.432251, lon=-121.803388, code=98105) 98105
[429]

ii Row(lat=47.393566, lon=-119.90361, code=98845) 98845
[429]

In [151]:
import requests
response = requests.get("http://api.opentripmap.com/0.1/en/places/xid/Q372040?apikey=5ae2e3f221c38a28845f05b6e652ec7f57f7cf4ad69edeeb39a3e1be")

In [152]:
response.text

'{"xid":"Q372040","name":"Gnessin Russian Academy of Music","address":{"road":"Хорошёвское шоссе","house":"Общежитие училища им. Гнесиных","state":"Москва","suburb":"Хорошёвский район","country":"Россия","postcode":"125493","country_code":"ru","house_number":"96","state_district":"Северный административный округ"},"rate":"3h","wikidata":"Q372040","kinds":"historic_architecture,architecture,interesting_places,other_buildings_and_structures","sources":{"geometry":"wikidata","attributes":["wikidata"]},"otm":"https://opentripmap.com/en/card/Q372040","wikipedia":"https://en.wikipedia.org/wiki/Gnessin%20State%20Musical%20College","image":"https://commons.wikimedia.org/wiki/File:Gnessinmoscow.jpg","preview":{"source":"https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Gnessinmoscow.jpg/400px-Gnessinmoscow.jpg","height":300,"width":400},"wikipedia_extracts":{"title":"en:Gnessin State Musical College","text":"The Gnessin State Musical College (Russian: Государственный музыкальный колледж имени Гнесиных) and Gnesins Russian Academy of Music (Russian: Российская академия музыки имени Гнесиных) is a prominent music school in Moscow, Russia.Originally known as the Gnessin Institute, it was established on February 15, 1895 by three sisters: Evgenia Fabianovna, Elena Fabianovna, and Maria Fabianovna Gnessin. Each of the Gnessin sisters had studied piano and graduated with distinction from the Moscow Conservatory. Construction of the modern building began in 1937, designed by A. V. Tishin and E. С. Gogolev, interrupted during the war and resumed in 1943. The main part of the academy was built in 1946.","html":"<p>The <b>Gnessin State Musical College</b> (Russian: <span lang=\\"ru\\">Государственный музыкальный колледж имени Гнесиных</span>) and <b>Gnesins Russian Academy of Music</b> (Russian: <span lang=\\"ru\\">Российская академия музыки имени Гнесиных</span>) is a prominent music school in Moscow, Russia.</p><p>Originally known as the Gnessin Institute, it was established on February 15, 1895 by three sisters: Evgenia Fabianovna, Elena Fabianovna, and Maria Fabianovna Gnessin. Each of the Gnessin sisters had studied piano and graduated with distinction from the Moscow Conservatory. Construction of the modern building began in 1937, designed by A. V. Tishin and E. С. Gogolev, interrupted during the war and resumed in 1943. The main part of the academy was built in 1946.</p>"},"point":{"lon":37.51100158691406,"lat":55.77899932861328}}'

In [148]:
response = requests.get("https://api.opentripmap.com/0.1/en/places/geoname?name=Charlotte&apikey=5ae2e3f221c38a28845f05b6e652ec7f57f7cf4ad69edeeb39a3e1be")

In [150]:
response.text

'{"name":"Charlotte","country":"VC","lat":13.28054,"lon":-61.1185,"population":38000,"timezone":"America/St_Vincent","status":"OK"}'